/*
.block .section
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/

body .navigation .searchBlock .section.active a{
    color: #b7fdab !important;
    text-shadow: #b1d446 0px 0px 3px;
}


.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node-person
{
    fill: rgb(204, 236, 230);
}

.node-organization
{
    fill: rgb(255, 237, 160);
}

.node-service
{
    fill: rgb(199, 233, 192);
}

.node-tag
{
    fill: rgb(99, 233, 192);
}

.link {
    stroke: #999;
    stroke-opacity: .8;
    /*stroke: #000;*/
    stroke-width: 1.5px;
}

text {
    font: 12px sans-serif;
    pointer-events: none;
    fill: black;
}

.mCustomScrollBox
{
    width: 100%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
