.paths-graph-container {
    width: 400px;
    height: 400px;
    border: 1px solid lightgray;
}

/*vvv when the item has been hit by a search vvv*/
body .workspace .container .block.search_hit {
    background-image: url("images/textures/warm-gray-normal.png");
}
/*^^^ when the item has been hit by a search ^^^*/


tags-input .host {
    margin: 0px;
}


span.multiple, span.multiple>span {
    position: relative;
    display: inline-block;
}


span.multiple>span {
    margin-top: 15px;
    border-top: 2px dashed #B1D446;
}


span.multiple>span:first-child {
    margin-top: 0px;
    border: 0px;
}


.mCSB_container>span.ng-scope:last-child .container {
    margin-right: 150px;
}

/* scrollbar expanding speed */
.mCSB_draggerContainer .mCSB_dragger_bar, .mCSB_draggerContainer .mCSB_draggerRail, .workspace .mCSB_scrollTools .mCSB_draggerContainer, .workspace .mCSB_scrollTools .mCSB_draggerContainer {
    -webkit-transition: height 0.3s ease 0s;
    -moz-transition: height 0.3s ease 0s;
    -o-transition: height 0.3s ease 0s;
    transition: height 0.3s ease 0s;
}

/*vvv bootstrap imported classes vvv*/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
/*^^^ bootstrap imported classes ^^^*/


form.popUpWindow a.more {
    margin-left: 10px !important;
}


.searchBlock form {
    margin-bottom: 0px;
}

