@font-face {
    font-family: 'Philosopher';
    src: url("fonts/Philosopher-Regular.woff") format("woff"), url("fonts/Philosopher-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: 'Philosopher';
    src: url("fonts/Philosopher-Bold.woff") format("woff"), url("fonts/Philosopher-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'Philosopher';
    src: url("fonts/Philosopher-Italic.woff") format("woff"), url("fonts/Philosopher-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: 'Philosopher';
    src: url("fonts/Philosopher-BoldItalic.woff") format("woff"), url("fonts/Philosopher-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

input:focus, button:focus, textarea:focus, select:focus, select {
    outline: 0px;
}

input:focus, textarea:focus, #personTag .tags.focused, #orgTag:focused {
    border-color: #b1d446 !important;
    box-shadow: 0px 0px 5px #b1d446 !important;
}

a, a:hover, a:visited {
    text-decoration: none;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.large {
    font-size: 20px;
}

input, textarea, select {
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    color: #3b3b2c;
    background-color: #fff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #bbbd71;
}

.close, .edit {
    position: absolute;
    display: none;
    padding: 1px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 38px;
    font-style: normal;
    line-height: 20px;
    background-color: #b1d446;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100;
    cursor: pointer;
}

.edit {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-position: 2px 1px;
    background-image: url("images/sprites/edit.png");
    background-repeat: no-repeat;
}
.edit:hover {
    width: 30px;
    height: 30px;
    background-position: -26px 1px;
    box-shadow: 0px 0px 5px #3b3b2c;
}

.close {
    background-image: url("images/sprites/close.png");
    background-repeat: no-repeat;
}

ul.settings li, ul.advancedOptions li {
    list-style: none;
    z-index: 1000;
}
ul.settings ul, ul.advancedOptions ul {
    position: relative;
    top: 5px;
    display: none;
    padding: 0px;
    width: 230px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px #80794f solid;
    box-shadow: 0px 0px 5px #3b3b2c;
    z-index: 1001;
}
ul.settings ul li, ul.advancedOptions ul li {
    position: relative;
    display: block;
    padding: 0px 5px;
    width: 220px;
    height: 38px;
    line-height: 38px;
    color: #3b3b2c;
    border-bottom: 1px #80794f solid;
    cursor: default;
}
ul.settings ul li:last-child, ul.advancedOptions ul li:last-child {
    border: 0px;
}
ul.settings ul li a, ul.advancedOptions ul li a {
    color: #3b3b2c;
}
ul.settings ul li a:hover, ul.advancedOptions ul li a:hover {
    background-color: #e4fd97;
    border-radius: 5px;
    padding: 5px 5px 5px 0px;
}
ul.settings ul li label:hover, ul.advancedOptions ul li label:hover {
    background-color: #e4fd97;
    border-radius: 5px;
    padding: 5px 5px 5px 0px;
}
ul.settings ul li input[type="checkbox"], ul.advancedOptions ul li input[type="checkbox"] {
    display: none;
}
ul.settings ul li input[type="checkbox"] + label, ul.advancedOptions ul li input[type="checkbox"] + label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
ul.settings ul li input[type="checkbox"] + label:after, ul.advancedOptions ul li input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    top: 3px;
    right: 10px;
    display: inline-block;
    width: 31px;
    height: 29px;
    background: url("images/sprites/checkbox.png") no-repeat;
}
ul.settings ul li input[type="checkbox"]:checked + label:after, ul.advancedOptions ul li input[type="checkbox"]:checked + label:after {
    background-position: -40px 0px;
}
ul.settings ul:before, ul.advancedOptions ul:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 10px;
    display: block;
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #80794f;
}
ul.settings ul:after, ul.advancedOptions ul:after {
    content: "";
    position: absolute;
    top: -11px;
    left: 10px;
    display: block;
    height: 0px;
    width: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
}
ul.settings li:hover ul, ul.advancedOptions li:hover ul {
    display: block;
}

body {
    background-color: #fff;
    font-family: 'Philosopher', sans-serif;
    font-size: 18px;
    color: #3b3b2c;
    background-color: #fff;
    margin: 5px 10px 0px;
}
body header {
    position: relative;
    padding: 6px;
    height: 116px;
    width: 100%;
    min-width: 775px;
    background-image: url("images/textures/warm-gray-normal.png");
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body header .logo {
    position: relative;
    padding: 3px 11px;
    width: 198px;
    height: 98px;
    background-color: #fff;
    border-radius: 5px;
}
body header .serviceMenu {
    position: absolute;
    left: 230px;
    top: 0px;
    right: 5px;
}
body header .serviceMenu a {
    cursor: pointer;
}
body header .serviceMenu .floatRight, body header .serviceMenu .floatLeft {
    display: block;
    margin: 5px;
    width: 42px;
    height: 42px;
    background-image: url("images/sprites/service-menu.png");
    background-repeat: no-repeat;
}
body header .serviceMenu .floatRight.disabled, body header .serviceMenu .floatLeft.disabled {
    cursor: default;
    background-image: url("images/sprites/service-menu-disabled.png");
}
body header .serviceMenu .floatRight.newOffer, body header .serviceMenu .floatLeft.newOffer {
    background-position: -94px 0px;
}
body header .serviceMenu .floatRight.newPerson, body header .serviceMenu .floatLeft.newPerson {
    background-position: 0px 0px;
}
body header .serviceMenu .floatRight.newOrganization, body header .serviceMenu .floatLeft.newOrganization {
    background-position: -47px 0px;
}
body header .serviceMenu .floatRight.inbox, body header .serviceMenu .floatLeft.inbox {
    background-position: -141px 0px;
}
body header .serviceMenu .floatRight.profile, body header .serviceMenu .floatLeft.profile {
    background-position: -188px 0px;
}
body header .serviceMenu .floatRight.settings, body header .serviceMenu .floatLeft.settings {
    background-position: 0px -47px;
}
body header .serviceMenu .floatRight.settings > li, body header .serviceMenu .floatLeft.settings > li {
    display: block;
    height: 42px;
}
body header .serviceMenu .floatRight.settings > li > ul, body header .serviceMenu .floatLeft.settings > li > ul {
    top: 47px;
    left: -2px;
}
body header .serviceMenu .floatRight.tags, body header .serviceMenu .floatLeft.tags {
    background-position: -47px -47px;
}
body header .serviceMenu .floatRight.ruLang, body header .serviceMenu .floatLeft.ruLang {
    background-position: -94px -47px;
}
body header .serviceMenu .floatRight.mobileVersion, body header .serviceMenu .floatLeft.mobileVersion {
    background-position: -141px -47px;
}
body header .serviceMenu .floatRight.logout, body header .serviceMenu .floatLeft.logout {
    background-position: -186px -47px;
}
body header .serviceMenu ul.settings {
    position: relative;
    width: 42px;
    padding: 0px;
    cursor: pointer;
}
body .navigation {
    position: relative;
    width: 100%;
    height: 138px;
}
body .navigation .searchBlock {
    position: relative;
    padding: 18px 0px 0px 8px;
    margin: 28px 0px 10px 8px;
    width: 160px;
    height: 120px;
    background-image: url("images/textures/warm-gray-vertical.png");
    overflow: visible;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body .navigation .searchBlock input[type="text"] {
    position: absolute;
    top: -18px;
    left: -4px;
    padding: 1px 1px 1px 5px;
    width: 177px;
    height: 28px;
    background-color: #fff;
    border: 1px #3b3b2c solid;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body .navigation .searchBlock ul.advancedOptions {
    position: absolute;
    top: -18px;
    left: 152px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 28px;
    width: 18px;
    background: none;
    cursor: pointer;
}
body .navigation .searchBlock ul.advancedOptions div {
    position: absolute;
    top: 40%;
    display: block;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #bbbd71;
}
body .navigation .searchBlock ul.advancedOptions li.parent {
    display: block;
    height: 28px;
    width: 18px;
}
body .navigation .searchBlock ul.advancedOptions li.parent ul {
    position: absolute;
    top: 30px;
    left: -16px;
}
body .navigation .searchBlock input[type="submit"] {
    position: absolute;
    top: -18px;
    left: 172px;
    margin: 0px;
    width: 26px;
    height: 28px;
    background: #b1d446 url("images/search.png") 3px 3px no-repeat;
    border: 1px #3b3b2c solid;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
body .navigation .searchBlock .section {
    position: relative;
    margin-bottom: 5px;
    padding-left: 5px;
    min-width: 185px;
    height: 28px;
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    background-color: #3b3b2c;
    border-radius: 5px;
    cursor: pointer;
}
body .navigation .searchBlock .section a {
    color: #fff;
}
body .navigation .searchBlock .section:hover a {
    color: #e4fd97;
    text-shadow: #b1d446 0px 0px 3px;
}
body .navigation .searchBlock .section .counter {
    position: absolute;
    right: 0px;
    display: inline-block;
    margin: 2px;
    padding: 1px 4px;
    min-width: 29px;
    height: 22px;
    line-height: 24px;
    text-align: right;
    color: #5c7b00;
    font-size: 18px;
    background-color: #fff;
    border-radius: 5px;
}
body .navigation .label {
    position: absolute;
    top: -50px;
    left: 250px;
    padding: 0px 7px;
    color: #3b3b2c;
    font-size: 24px;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}
body .navigation .pinList {
    position: absolute;
    top: -20px;
    left: 230px;
    right: 0px;
    height: 140px;
    white-space: nowrap;
}
body .navigation .pinList .person, body .navigation .pinList .organization {
    position: relative;
    top: 15px;
    display: inline-block;
    width: 127px;
    height: 123px;
    font-size: 14px;
    font-style: italic;
    background: url("images/sheet.png") no-repeat;
    cursor: pointer;
    white-space: normal;
}
body .navigation .pinList .person:first-child, body .navigation .pinList .organization:first-child {
    margin-left: 40px;
}
body .navigation .pinList .person:last-child, body .navigation .pinList .organization:last-child {
    margin-right: 40px;
}
body .navigation .pinList .person .image, body .navigation .pinList .organization .image {
    position: absolute;
    top: -8px;
    left: 5px;
    width: 26px;
    height: 44px;
    background: url("images/sprites/persons.png") no-repeat;
}
body .navigation .pinList .person .relation, body .navigation .pinList .organization .relation {
    position: absolute;
    width: 86px;
    height: 38px;
    right: 5px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
}
body .navigation .pinList .person .name, body .navigation .pinList .organization .name {
    position: absolute;
    top: 38px;
    left: 5px;
    width: 115px;
    height: 18px;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}
body .navigation .pinList .person .info, body .navigation .pinList .organization .info {
    position: absolute;
    top: 58px;
    left: 6px;
    width: 115px;
    height: 60px;
    color: #505126;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
}
body .navigation .pinList .person .info textarea, body .navigation .pinList .organization .info textarea {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 14px;
    font-style: italic;
    background-color: #e4fd97;
    border-radius: 3px 3px 20px 3px;
    border: 1px dashed #aeb258;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body .navigation .pinList .person .close, body .navigation .pinList .organization .close {
    right: -4px;
    top: -5px;
    background-image: url("images/sprites/close.png");
    background-repeat: no-repeat;
    background-position: 3px 3px;
}
body .navigation .pinList .person:hover .info, body .navigation .pinList .organization:hover .info {
    background-color: #e4fd97;
}
body .navigation .pinList .person:hover .close, body .navigation .pinList .organization:hover .close {
    display: block;
}
body .navigation .pinList .person:hover .close:hover, body .navigation .pinList .organization:hover .close:hover {
    width: 26px;
    height: 26px;
    box-shadow: 0px 0px 5px #3b3b2c;
    background-position: -19px 3px;
}
body .navigation .pinList .organization .image {
    top: -15px;
    left: 3px;
    width: 31px;
    height: 53px;
    background: url("images/sprites/organizations.png") no-repeat;
}
body .navigation .pinList .primary .image {
    background-position: 0px 0px;
}
body .navigation .pinList .primary .relation {
    color: #5c7b00;
}
body .navigation .pinList .secondary .image {
    background-position: -31px 0px;
}
body .navigation .pinList .secondary.organization .image {
    background-position: -50px 0px;
}
body .navigation .pinList .secondary .relation {
    color: #3b3b2c;
}
body .navigation .pinList .missing .image {
    background-position: -62px 0px;
}
body .navigation .pinList .missing.organization .image {
    background-position: -100px 0px;
}
body .navigation .pinList .missing .relation, body .navigation .pinList .missing .name {
    color: #aeb258;
}
body .history {
    margin: 0px 0px 20px;
    width: 100%;
    height: 62px;
}
body .history ul.breadcrumbs {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    height: 68px;
}
body .history ul.breadcrumbs li {
    display: inline-block;
    position: relative;
    height: 36px;
    list-style: none;
}
body .history ul.breadcrumbs li .line {
    position: absolute;
    top: 21px;
    margin-left: 3px;
    width: 100%;
    height: 0px;
    border-top: 7px #d0d29e dashed;
}
body .history ul.breadcrumbs li .image {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 30px;
    height: 30px;
    border: #d0d29e 5px solid;
    background-color: #b1d446;
    background-image: url("images/sprites/breadcrumbs.png");
    background-repeat: no-repeat;
    border-radius: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body .history ul.breadcrumbs li .image.search-results {
    background-position: 2px 2px;
}
body .history ul.breadcrumbs li .image.person {
    background-position: -18px 1px;
}
body .history ul.breadcrumbs li .image.offer {
    background-position: -37px 1px;
}
body .history ul.breadcrumbs li .image.organization {
    background-position: -59px 2px;
}
body .history ul.breadcrumbs li .image.service {
    background-position: -79px 2px;
}
body .history ul.breadcrumbs li a.crumbName {
    vertical-align: top;
    color: #3b3b2c;
    font-size: 18px;
    cursor: pointer;
}
body .history ul.breadcrumbs li a.crumbName:hover, body .history ul.breadcrumbs li a.crumbName:active {
    color: #839b3d;
}
body .history ul.breadcrumbs li:first-child {
    margin-left: 45px;
}
body .history ul.breadcrumbs li:last-child {
    margin-right: 45px;
}
body .history ul.breadcrumbs li:last-child .line {
    display: none;
}
body .pin {
    display: block;
    position: absolute;
    height: 33px;
    width: 30px;
    background: url("images/sprites/pin.png") no-repeat;
    cursor: pointer;
}
body .pin:hover {
    background-position: -35px 0px;
}
body .workspace {
    position: relative;
    margin: 0px;
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: visible;
}
body .workspace .container {
    position: relative;
    display: inline-block;
    margin: 40px 25px 35px 25px;
    width: 352px;
    vertical-align: top;
    white-space: normal;
    border: 1px #3b3b2c solid;
    border-radius: 5px;
    background-color: #fff;
}
body .workspace .container .section .ellipsis {
    display: inline-block;
    width: 324px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body .workspace .container .section .ellipsis span {
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
body .workspace .container .section .ellipsis:hover span {
    width: auto;
    max-width: 100%;
}
body .workspace .container .section .operations {
    display: none;
    position: absolute;
    left: 345px;
    top: -5px;
    height: 30px;
    width: auto;
    padding: 0px 3px;
    background: #b1d446;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #3b3b2c;
    z-index: 10000;
    white-space: nowrap;
}
body .workspace .container .section .operations:after {
    content: "";
    position: absolute;
    top: 10px;
    left: -15px;
    display: block;
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #b1d446;
}
body .workspace .container .section .operations:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 15px;
    top: 0px;
    left: -15px;
}
body .workspace .container .section .operations .edit, body .workspace .container .section .operations .close {
    position: relative;
    margin: 0px 3px;
    top: 4px;
    width: 24px;
    height: 24px;
    line-height: 30px;
    vertical-align: top;
    background-image: url("images/sprites/operations.png");
    background-position-x: 2px;
}
body .workspace .container .section .operations .edit:hover, body .workspace .container .section .operations .close:hover {
    top: 3px;
    background-position-x: -27px;
}
body .workspace .container .section .operations .close {
    background-position: 2px -28px;
}
body .workspace .container .section .operations .close:hover {
    box-shadow: 0px 0px 5px #3b3b2c;
}
body .workspace .container.editable .heading .image a.close {
    top: -7px;
    right: -5px;
    background-position: 3px 3px;
}
body .workspace .container.editable .heading .image a.close:hover {
    top: -10px;
    right: -8px;
    width: 26px;
    height: 26px;
    box-shadow: #b1d446 0px 0px 10px;
    background-position: -19px 3px;
}
body .workspace .container.editable .heading:hover a.close {
    display: block;
}
body .workspace .container.editable .block .heading a.plus {
    display: inline-block;
    position: absolute;
    right: -11px;
    top: 7px;
    width: 18px;
    height: 18px;
    background: #d0d29e url("images/plus.png") no-repeat 2px 2px;
    border-radius: 9px;
    z-index: 10000;
}
body .workspace .container.editable .block .heading a.plus:hover {
    background-color: #b1d446;
    box-shadow: none;
}
body .workspace .container.editable .block .heading .image {
    right: 5px;
}
body .workspace .container.editable .block:hover a.plus {
    background-color: #5c7b00;
    box-shadow: #5c7b00 0px 0px 5px;
}
body .workspace .container.editable .section:hover {
    color: #5c7b00;
    box-shadow: 0px 0px 10px #b1d446;
    z-index: 10000;
}
body .workspace .container.editable .section:hover .operations {
    display: block;
}
body .workspace .container.editable .section:hover .edit, body .workspace .container.editable .section:hover .close {
    display: inline-block !important;
}
body .workspace .container.editable:hover .edit {
    display: block;
}
body .workspace .container > .heading {
    display: table;
    position: relative;
    width: 100%;
    height: 45px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    background-color: #3b3b2c;
    line-height: 45px;
}
body .workspace .container > .heading > .name {
    display: table-cell;
    width: 290px;
    vertical-align: middle;
    padding-right: 40px;
    line-height: normal;
}
body .workspace .container > .heading > .image {
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
    height: 42px;
    width: 42px;
    background-repeat: no-repeat;
}
body .workspace .container > .heading > .pin {
    top: 5px;
    right: 10px;
}
body .workspace .container > .heading.search_contacts > .image, body .workspace .container .heading.search_services > .image, body .workspace .container .heading.search_organizations > .image, body .workspace .container .heading.search_offers > .image {
    top: 4px;
    background-image: url("images/sprites/search-results.png");
}
body .workspace .container > .heading.search_contacts > .image {
    background-position: 0px 0px;
}
body .workspace .container > .heading.search_offers > .image {
    background-position: -92px 0px;
}
body .workspace .container > .heading.search_organizations > .image {
    background-position: -45px 0px;
}
body .workspace .container > .heading.search_services > .image {
    background-position: -139px 0px;
}
body .workspace .container > .heading.info-person > .name, body .workspace .container .heading.info-service > .name, body .workspace .container .heading.info-organization > .name, body .workspace .container .heading.info-offer > .name {
    width: 270px;
}
body .workspace .container > .heading.info-person > .image, body .workspace .container .heading.info-service > .image, body .workspace .container .heading.info-organization > .image, body .workspace .container .heading.info-offer > .image {
    background-image: url("images/sprites/card-icons.png");
    background-repeat: no-repeat;
}
body .workspace .container > .heading.info-person > .image {
    background-position: 7px 0px;
}
body .workspace .container > .heading.info-organization > .image {
    background-position: -39px 0px;
}
body .workspace .container > .heading.info-offer > .image {
    background-position: -84px 0px;
}
body .workspace .container > .heading.info-service > .image {
    background-position: -138px 0px;
}
body .workspace .container .block {
    position: relative;
    border-bottom: 1px #3b3b2c solid;
}
body .workspace .container .block:last-child {
    padding-bottom: 14px;
    border: 1px transparent solid;
    border-radius: 0px 0px 5px 5px;
}
body .workspace .container .block:nth-child(odd) {
    background-color: #e6f3bc;
}
body .workspace .container .block:nth-child(odd) .image {
    background-image: url("images/sprites/small-icons-color2.png");
}
body .workspace .container .block .image {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 22px;
    height: 22px;
    background-image: url("images/sprites/small-icons.png");
    background-repeat: no-repeat;
}
body .workspace .container .block > .heading {
    position: relative;
    padding: 5px 0px;
    height: 22px;
    color: #3b3b2c;
    size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 22px;
}
body .workspace .container .block > .heading span {
    vertical-align: top;
}
body .workspace .container .block > .heading .image {
    top: 5px;
    background-color: #b1d446;
}
body .workspace .container .block .section {
    position: relative;
    padding: 2px 25px 2px 10px;
    height: 18px;
    color: #505126;
    font-size: 16px;
    font-style: italic;
    border-bottom: 1px #d0d29e dashed;
    cursor: pointer;
}
body .workspace .container .block .section.unclickable {
    cursor: default;
}
body .workspace .container .block .section:last-child {
    border: 0px;
}
body .workspace .container .block .section .image {
    background-color: #80794f;
}
body .workspace .container .block .heading.person > .image, body .workspace .container .block .section.person > .image {
    background-position: -3px -3px;
}
body .workspace .container .block .heading.offer > .image, body .workspace .container .block .section.offer > .image {
    background-position: -36px -3px;
}
body .workspace .container .block .heading.organization > .image, body .workspace .container .block .section.organization > .image {
    background-position: -69px -3px;
}
body .workspace .container .block .heading.tag > .image, body .workspace .container .block .section.tag > .image {
    background-position: -36px -36px;
}
body .workspace .container .block .heading.relations > .image, body .workspace .container .block .section.relations > .image {
    background-position: -69px -36px;
}
body .workspace .container .block .heading.info > .image, body .workspace .container .block .section.info > .image {
    background-position: -3px -36px;
}
body .workspace .container .block .heading.service > .image, body .workspace .container .block .section.service > .image {
    background-position: -36px -169px;
}
body .workspace .container .block .heading.unknown > .image, body .workspace .container .block .section.unknown > .image {
    background-position: -3px -202px;
}
body .workspace .container .block .section.phone > .image {
    background-position: -3px -69px;
}
body .workspace .container .block .section.mob > .image {
    background-position: -36px -69px;
}
body .workspace .container .block .section.eMail > .image {
    background-position: -69px -69px;
}
body .workspace .container .block .section.skype > .image {
    background-position: -3px -103px;
}
body .workspace .container .block .section.site > .image {
    background-position: -36px -101px;
}
body .workspace .container .block .section.date > .image {
    background-position: -69px -103px;
}
body .workspace .container .block .section.twitter > .image {
    background-position: -3px -136px;
}
body .workspace .container .block .section.facebook > .image {
    background-position: -36px -136px;
}
body .workspace .container .block .section.google > .image {
    background-position: -67px -135px;
}
body .workspace .container .block .section.vkontakte > .image {
    background-position: -3px -169px;
}
body .workspace .container .block .section.show > .image {
    background-position: -67px -169px;
}
body .workspace .container .block .section.convert > .image {
    background-position: -67px -204px;
}
body .workspace .container .block .section.confirm > .image {
    background-position: -36px -204px;
}
body .workspace .container .block .section.phone, body .workspace .container .block .section.mob, body .workspace .container .block .section.eMail, body .workspace .container .block .section.skype, body .workspace .container .block .section.site, body .workspace .container .block .section.date, body .workspace .container .block .section.twitter, body .workspace .container .block .section.facebook, body .workspace .container .block .section.google, body .workspace .container .block .section.vkontakte, body .workspace .container .block .section.show, body .workspace .container .block .section.convert, body .workspace .container .block .section.confirm {
    padding-left: 25px;
}
body .workspace .container .block .section.phone > .image, body .workspace .container .block .section.mob > .image, body .workspace .container .block .section.eMail > .image, body .workspace .container .block .section.skype > .image, body .workspace .container .block .section.site > .image, body .workspace .container .block .section.date > .image, body .workspace .container .block .section.twitter > .image, body .workspace .container .block .section.facebook > .image, body .workspace .container .block .section.google > .image, body .workspace .container .block .section.vkontakte > .image, body .workspace .container .block .section.show > .image, body .workspace .container .block .section.convert > .image, body .workspace .container .block .section.confirm > .image {
    left: 0px;
}
body .workspace .container .block .section.show, body .workspace .container .block .section.convert, body .workspace .container .block .section.confirm {
    font-weight: bold;
    font-size: 14px;
    height: 14px;
    padding-left: 30px;
}
body .workspace .container .block .section.show .image, body .workspace .container .block .section.convert .image, body .workspace .container .block .section.confirm .image {
    width: 25px;
    height: 16px;
}
body .workspace .container .block .section.tag > span.tag {
    padding: 0px 2px;
    color: #fff;
    background-color: #b1d446;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
}
body .workspace .container .block .heightAuto {
    height: auto;
    line-height: 22px;
}
body .workspace .container .block.selected, body .workspace .container .section.selected {
    color: #fff;
    background-color: #b1d446;
}
body .workspace .container .block.selected .image, body .workspace .container .section.selected .image {
    background-image: url("images/sprites/small-icons-color.png");
}
body .workspace .container .block.selected .heading, body .workspace .container .block.selected .section, body .workspace .container .section.selected .heading, body .workspace .container .section.selected .section {
    color: #fff;
}
body .workspace .container .block.selected .section, body .workspace .container .section.selected .section {
    border-color: #fff;
}
body .workspace .container .block.selected .image, body .workspace .container .section.selected .image {
    background-color: #3b3b2c;
}
body .workspace .container .block.selected:after, body .workspace .container .section.selected:after {
    content: "";
    display: block;
    position: absolute;
    right: -56px;
    top: 8px;
    width: 56px;
    height: 8px;
    background: url("images/selected1.png") no-repeat;
}
body .workspace .container em {
    color: #5c7b00;
    font-weight: bold;
    border-bottom: 2px dashed #b1d446;
}
body .workspace .container .more {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
}
body .workspace .container .more .block:first-child {
    margin-top: -14px;
    border-top: 1px #3b3b2c solid;
}
body .workspace .container #moreButton {
    position: absolute;
    bottom: 0px;
    left: -1px;
    width: 100%;
    height: 14px;
    border: 1px #3b3b2c solid;
    border-radius: 0px 0px 5px 5px;
    background-color: #3B3B2C;
    background-image: url("images/down-arrow.png");
    background-repeat: no-repeat;
    background-position: 150px 2px;
}
body .popUpScreen {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10000;
    overflow: auto;
}
body .popUpScreen form.popUpWindow, body form.entrance, body form.registration {
    display: block;
    position: relative;
    top: 60px;
    margin: 0px auto;
    padding-bottom: 20px;
    width: 610px;
    font-size: 0px;
    background-color: #fff;
    background-image: url("images/textures/gray-mini.png");
    background-repeat: repeat;
    border-radius: 5px;
    border: 1px #3b3b2c solid;
}
body .popUpScreen form.popUpWindow .disabled, body form.entrance .disabled, body form.registration .disabled {
    opacity: 0.5;
}
body .popUpScreen form.popUpWindow .disabled:hover, body form.entrance .disabled:hover, body form.registration .disabled:hover {
    cursor: default !important;
}
body .popUpScreen form.popUpWindow:after, body form.entrance:after, body form.registration:after {
    display: block;
    position: relative;
    margin-top: 15px;
    bottom: 0px;
    content: "";
    height: 32px;
    width: 100px;
}
body .popUpScreen form.popUpWindow .heading, body form.entrance .heading, body form.registration .heading {
    position: relative;
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    background-color: #3b3b2c;
}
body .popUpScreen form.popUpWindow .heading .image, body form.entrance .heading .image, body form.registration .heading .image {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 40px;
    height: 31px;
    background: url("images/sprites/popup-head.png") no-repeat;
}
body .popUpScreen form.popUpWindow .heading .close, body form.entrance .heading .close, body form.registration .heading .close {
    display: block;
    top: 7px;
    right: 4px;
    width: 20px;
    height: 20px;
    background: #b1d446 url("images/sprites/close.png") no-repeat 3px 3px;
}
body .popUpScreen form.popUpWindow .heading .close:hover, body form.entrance .heading .close:hover, body form.registration .heading .close:hover {
    top: 4px;
    width: 26px;
    height: 26px;
    box-shadow: #b1d446 0px 0px 10px;
    background-position: -19px 3px;
}
body .popUpScreen form.popUpWindow .heading .close.disabled:hover, body form.entrance .heading .close.disabled:hover, body form.registration .heading .close.disabled:hover {
    top: 7px;
    width: 20px;
    height: 20px;
    background-position: 3px 3px;
    box-shadow: none;
    cursor: default;
}
body .popUpScreen form.popUpWindow .heading .pin, body form.entrance .heading .pin, body form.registration .heading .pin {
    top: 0px;
    right: 34px;
}
body .popUpScreen form.popUpWindow.addOffer > .heading > .image, body form.entrance.addOffer > .heading > .image, body form.registration.addOffer > .heading > .image {
    background-position: 0px 0px;
}
body .popUpScreen form.popUpWindow.addPerson > .heading > .image, body form.entrance.addPerson > .heading > .image, body form.registration.addPerson > .heading > .image {
    background-position: -50px 0px;
}
body .popUpScreen form.popUpWindow.addOrganization > .heading > .image, body form.entrance.addOrganization > .heading > .image, body form.registration.addOrganization > .heading > .image {
    background-position: -100px 0px;
}
body .popUpScreen form.popUpWindow.tags > .heading > .image, body form.entrance.tags > .heading > .image, body form.registration.tags > .heading > .image {
    background-position: 0px -41px;
}
body .popUpScreen form.popUpWindow.editOffer > .heading > .image, body form.entrance.editOffer > .heading > .image, body form.registration.editOffer > .heading > .image {
    background-position: -50px -41px;
}
body .popUpScreen form.popUpWindow.editPerson > .heading > .image, body form.entrance.editPerson > .heading > .image, body form.registration.editPerson > .heading > .image {
    background-position: -100px -41px;
}
body .popUpScreen form.popUpWindow.editOrganization > .heading > .image, body form.entrance.editOrganization > .heading > .image, body form.registration.editOrganization > .heading > .image {
    background-position: 0px -82px;
}
body .popUpScreen form.popUpWindow.registration label, body form.entrance.registration label, body form.registration.registration label {
    margin-left: 15px;
}
body .popUpScreen form.popUpWindow.registration .message, body form.entrance.registration .message, body form.registration.registration .message {
    padding-left: 15px;
}
body .popUpScreen form.popUpWindow label, body .popUpScreen form.popUpWindow a.editRoles, body form.entrance label, body form.entrance a.editRoles, body form.registration label, body form.registration a.editRoles {
    position: relative;
    display: inline-block;
    margin: 10px 0px 0px 10px;
    padding: 0px 5px;
    height: 31px;
    width: 170px;
    text-align: right;
    line-height: 31px;
    vertical-align: top;
    font-size: 20px;
    color: #3b3b2c;
    background: #b1d446;
    border-radius: 5px;
    border: 1px solid #b1d446;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body .popUpScreen form.popUpWindow label > .image, body .popUpScreen form.popUpWindow a.editRoles > .image, body form.entrance label > .image, body form.entrance a.editRoles > .image, body form.registration label > .image, body form.registration a.editRoles > .image {
    position: absolute;
    width: 31px;
    height: 27px;
    top: 1px;
    left: 2px;
    background: url("images/sprites/popup-icons.png") no-repeat;
}
body .popUpScreen form.popUpWindow label.offer > .image, body .popUpScreen form.popUpWindow a.editRoles.offer > .image, body form.entrance label.offer > .image, body form.entrance a.editRoles.offer > .image, body form.registration label.offer > .image, body form.registration a.editRoles.offer > .image {
    background-position: 0px 0px;
}
body .popUpScreen form.popUpWindow label.person > .image, body .popUpScreen form.popUpWindow a.editRoles.person > .image, body form.entrance label.person > .image, body form.entrance a.editRoles.person > .image, body form.registration label.person > .image, body form.registration a.editRoles.person > .image {
    background-position: -41px 0px;
}
body .popUpScreen form.popUpWindow label.relation > .image, body .popUpScreen form.popUpWindow a.editRoles.relation > .image, body form.entrance label.relation > .image, body form.entrance a.editRoles.relation > .image, body form.registration label.relation > .image, body form.registration a.editRoles.relation > .image {
    background-position: -86px 0px;
}
body .popUpScreen form.popUpWindow label.organization > .image, body .popUpScreen form.popUpWindow a.editRoles.organization > .image, body form.entrance label.organization > .image, body form.entrance a.editRoles.organization > .image, body form.registration label.organization > .image, body form.registration a.editRoles.organization > .image {
    background-position: -125px 0px;
}
body .popUpScreen form.popUpWindow label.info > .image, body .popUpScreen form.popUpWindow a.editRoles.info > .image, body form.entrance label.info > .image, body form.entrance a.editRoles.info > .image, body form.registration label.info > .image, body form.registration a.editRoles.info > .image {
    background-position: 0px -37px;
}
body .popUpScreen form.popUpWindow label.date > .image, body .popUpScreen form.popUpWindow a.editRoles.date > .image, body form.entrance label.date > .image, body form.entrance a.editRoles.date > .image, body form.registration label.date > .image, body form.registration a.editRoles.date > .image {
    background-position: -41px -37px;
}
body .popUpScreen form.popUpWindow label.tag > .image, body .popUpScreen form.popUpWindow a.editRoles.tag > .image, body form.entrance label.tag > .image, body form.entrance a.editRoles.tag > .image, body form.registration label.tag > .image, body form.registration a.editRoles.tag > .image {
    background-position: -129px -35px;
}
body .popUpScreen form.popUpWindow label.performer > .image, body .popUpScreen form.popUpWindow a.editRoles.performer > .image, body form.entrance label.performer > .image, body form.entrance a.editRoles.performer > .image, body form.registration label.performer > .image, body form.registration a.editRoles.performer > .image {
    background-position: -125px -74px;
}
body .popUpScreen form.popUpWindow label.service > .image, body .popUpScreen form.popUpWindow a.editRoles.service > .image, body form.entrance label.service > .image, body form.entrance a.editRoles.service > .image, body form.registration label.service > .image, body form.registration a.editRoles.service > .image {
    background-position: -166px -37px;
}
body .popUpScreen form.popUpWindow label.sex > .image, body .popUpScreen form.popUpWindow a.editRoles.sex > .image, body form.entrance label.sex > .image, body form.entrance a.editRoles.sex > .image, body form.registration label.sex > .image, body form.registration a.editRoles.sex > .image {
    background-position: -166px -1px;
}
body .popUpScreen form.popUpWindow label.mobPhone > .image, body .popUpScreen form.popUpWindow a.editRoles.mobPhone > .image, body form.entrance label.mobPhone > .image, body form.entrance a.editRoles.mobPhone > .image, body form.registration label.mobPhone > .image, body form.registration a.editRoles.mobPhone > .image {
    background-position: 0px -74px;
}
body .popUpScreen form.popUpWindow label.mail > .image, body .popUpScreen form.popUpWindow a.editRoles.mail > .image, body form.entrance label.mail > .image, body form.entrance a.editRoles.mail > .image, body form.registration label.mail > .image, body form.registration a.editRoles.mail > .image {
    background-position: -41px -74px;
}
body .popUpScreen form.popUpWindow label.phone > .image, body .popUpScreen form.popUpWindow a.editRoles.phone > .image, body form.entrance label.phone > .image, body form.entrance a.editRoles.phone > .image, body form.registration label.phone > .image, body form.registration a.editRoles.phone > .image {
    background-position: -86px -37px;
}
body .popUpScreen form.popUpWindow label.skype > .image, body .popUpScreen form.popUpWindow a.editRoles.skype > .image, body form.entrance label.skype > .image, body form.entrance a.editRoles.skype > .image, body form.registration label.skype > .image, body form.registration a.editRoles.skype > .image {
    background-position: -80px -74px;
}
body .popUpScreen form.popUpWindow label.twitter > .image, body .popUpScreen form.popUpWindow a.editRoles.twitter > .image, body form.entrance label.twitter > .image, body form.entrance a.editRoles.twitter > .image, body form.registration label.twitter > .image, body form.registration a.editRoles.twitter > .image {
    background-position: -166px -74px;
}
body .popUpScreen form.popUpWindow label.facebook > .image, body .popUpScreen form.popUpWindow a.editRoles.facebook > .image, body form.entrance label.facebook > .image, body form.entrance a.editRoles.facebook > .image, body form.registration label.facebook > .image, body form.registration a.editRoles.facebook > .image {
    background-position: -205px 0px;
}
body .popUpScreen form.popUpWindow label.google > .image, body .popUpScreen form.popUpWindow a.editRoles.google > .image, body form.entrance label.google > .image, body form.entrance a.editRoles.google > .image, body form.registration label.google > .image, body form.registration a.editRoles.google > .image {
    background-position: -205px -33px;
}
body .popUpScreen form.popUpWindow label.vkontakte > .image, body .popUpScreen form.popUpWindow a.editRoles.vkontakte > .image, body form.entrance label.vkontakte > .image, body form.entrance a.editRoles.vkontakte > .image, body form.registration label.vkontakte > .image, body form.registration a.editRoles.vkontakte > .image {
    background-position: -208px -74px;
}
body .popUpScreen form.popUpWindow label.site > .image, body .popUpScreen form.popUpWindow a.editRoles.site > .image, body form.entrance label.site > .image, body form.entrance a.editRoles.site > .image, body form.registration label.site > .image, body form.registration a.editRoles.site > .image {
    background-position: -251px -1px;
}
body .popUpScreen form.popUpWindow label.radio, body .popUpScreen form.popUpWindow a.editRoles.radio, body form.entrance label.radio, body form.entrance a.editRoles.radio, body form.registration label.radio, body form.registration a.editRoles.radio {
    position: relative;
    margin: 10px 0px 0px 7px;
    padding: 0px 30px 0px 3px;
    text-align: left;
    width: auto;
}
body .popUpScreen form.popUpWindow label.select, body form.entrance label.select, body form.registration label.select {
    overflow: hidden;
    margin-left: 7px;
}
body .popUpScreen form.popUpWindow label.select:after, body form.entrance label.select:after, body form.registration label.select:after {
    content: "";
    position: absolute;
    top: 40%;
    right: 5px;
    display: block;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #3b3b2c;
    z-index: 100;
}
body .popUpScreen form.popUpWindow label.select.relationType, body form.entrance label.select.relationType, body form.registration label.select.relationType {
    width: 370px;
}
body .popUpScreen form.popUpWindow label.select select, body form.entrance label.select select, body form.registration label.select select {
    position: absolute;
    top: 0px;
    left: 35px;
    font-size: 20px;
    margin: 0px;
    height: 29px;
    border: 0px;
    background-color: transparent;
    z-index: 101;
}
body .popUpScreen form.popUpWindow label.select select option, body form.entrance label.select select option, body form.registration label.select select option {
    position: relative;
    background-color: #b1d446;
}
body .popUpScreen form.popUpWindow input[type="text"], body .popUpScreen form.popUpWindow input[type="password"], body .popUpScreen form.popUpWindow textarea, body .popUpScreen form.popUpWindow #personTag .tags, body .popUpScreen form.popUpWindow #orgTag .tags, body form.entrance input[type="text"], body form.entrance input[type="password"], body form.entrance textarea, body form.entrance #personTag .tags, body form.entrance #orgTag .tags, body form.registration input[type="text"], body form.registration input[type="password"], body form.registration textarea, body form.registration #personTag .tags, body form.registration #orgTag .tags {
    margin: 10px 5px 0px 7px;
    padding: 0px 5px;
    height: 31px;
    width: 400px;
    vertical-align: top;
    line-height: 31px;
    font-size: 20px;
    border: 1px solid #505126;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}
body .popUpScreen form.popUpWindow textarea, body form.entrance textarea, body form.registration textarea {
    height: 90px;
    max-width: 400px;
}
body .popUpScreen form.popUpWindow #personTag div, body .popUpScreen form.popUpWindow #orgTag div, body form.entrance #personTag div, body form.entrance #orgTag div, body form.registration #personTag div, body form.registration #orgTag div {
    display: inline-block;
    width: 370px;
    position: relative;
}
body .popUpScreen form.popUpWindow #personTag .tags, body .popUpScreen form.popUpWindow #orgTag .tags, body form.entrance #personTag .tags, body form.entrance #orgTag .tags, body form.registration #personTag .tags, body form.registration #orgTag .tags {
    overflow: visible;
    height: auto;
}
body .popUpScreen form.popUpWindow #personTag .tags .tag-item, body .popUpScreen form.popUpWindow #orgTag .tags .tag-item, body form.entrance #personTag .tags .tag-item, body form.entrance #orgTag .tags .tag-item, body form.registration #personTag .tags .tag-item, body form.registration #orgTag .tags .tag-item {
    position: relative;
    font-family: 'Philosopher', sans-serif !important;
    color: #3b3b2c;
    background: none !important;
    background-color: #b1d446 !important;
    border-radius: 5px !important;
    border-width: 0px !important;
    font-size: 18px !important;
}
body .popUpScreen form.popUpWindow #personTag .tags .tag-item a.remove-button, body .popUpScreen form.popUpWindow #orgTag .tags .tag-item a.remove-button, body form.entrance #personTag .tags .tag-item a.remove-button, body form.entrance #orgTag .tags .tag-item a.remove-button, body form.registration #personTag .tags .tag-item a.remove-button, body form.registration #orgTag .tags .tag-item a.remove-button {
    display: none;
    position: absolute;
    top: -9px;
    right: -7px;
    width: 18px;
    height: 18px;
    background-color: #3b3b2c !important;
    border-radius: 3px;
    color: white !important;
    font-sizE: 24px !important;
    line-height: 18px !important;
    text-align: center;
    z-index: 100;
}
body .popUpScreen form.popUpWindow #personTag .tags .tag-item a.remove-button:hover, body .popUpScreen form.popUpWindow #orgTag .tags .tag-item a.remove-button:hover, body form.entrance #personTag .tags .tag-item a.remove-button:hover, body form.entrance #orgTag .tags .tag-item a.remove-button:hover, body form.registration #personTag .tags .tag-item a.remove-button:hover, body form.registration #orgTag .tags .tag-item a.remove-button:hover {
    color: #e4fd97;
}
body .popUpScreen form.popUpWindow #personTag .tags .tag-item:hover a.remove-button, body .popUpScreen form.popUpWindow #orgTag .tags .tag-item:hover a.remove-button, body form.entrance #personTag .tags .tag-item:hover a.remove-button, body form.entrance #orgTag .tags .tag-item:hover a.remove-button, body form.registration #personTag .tags .tag-item:hover a.remove-button, body form.registration #orgTag .tags .tag-item:hover a.remove-button {
    display: block;
}
body .popUpScreen form.popUpWindow #personTag .tags input, body .popUpScreen form.popUpWindow #orgTag .tags input, body form.entrance #personTag .tags input, body form.entrance #orgTag .tags input, body form.registration #personTag .tags input, body form.registration #orgTag .tags input {
    font-family: 'Philosopher', sans-serif !important;
    font-size: 18px;
    width: 100% !important;
    border-radius: 5px;
    margin: 1px 2px;
}
body .popUpScreen form.popUpWindow .message, body form.entrance .message, body form.registration .message {
    margin: 5px 0px;
    padding: 5px 15px;
    width: 100%;
    color: #777938;
    font-size: 18px;
    background-color: #e4fd97;
    border-bottom: 3px dashed #b1d446;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
body .popUpScreen form.popUpWindow .message label, body form.entrance .message label, body form.registration .message label {
    margin: 0px 0px 0px 20px;
    padding-right: 22px;
    line-height: normal;
    font-size: 18px;
    height: 20px;
    background: transparent;
    border: none;
    vertical-align: bottom;
}
body .popUpScreen form.popUpWindow .message label:after, body form.entrance .message label:after, body form.registration .message label:after {
    top: 0px !important;
    width: 20px !important;
    height: 20px !important;
    background-size: auto 19px !important;
}
body .popUpScreen form.popUpWindow .message input:checked + label:after, body form.entrance .message input:checked + label:after, body form.registration .message input:checked + label:after {
    background-position: -26px 0px !important;
}
body .popUpScreen form.popUpWindow .group, body form.entrance .group, body form.registration .group {
    margin: 10px 0px;
    padding-bottom: 10px;
}
body .popUpScreen form.popUpWindow .group:first-of-type, body form.entrance .group:first-of-type, body form.registration .group:first-of-type {
    margin-top: 0px;
}
body .popUpScreen form.popUpWindow .group span.tag, body form.entrance .group span.tag, body form.registration .group span.tag {
    display: inline-block;
    position: relative;
    padding: 2px 6px 4px;
    margin: 3px 0px 5px 7px;
    color: #3b3b2c;
    background-color: #b1d446;
    border-radius: 5px;
}
body .popUpScreen form.popUpWindow .group.tagList span, body form.entrance .group.tagList span, body form.registration .group.tagList span {
    display: inline-block;
    position: relative;
    padding: 4px 6px;
    margin: 3px 0px 5px 7px;
    vertical-align: top;
    height: 28px;
    font-size: 18px;
    color: #3b3b2c;
    background-color: #b1d446;
    border-radius: 5px;
    box-sizing: border-box;
}
body .popUpScreen form.popUpWindow .group.tagList span a.delete, body form.entrance .group.tagList span a.delete, body form.registration .group.tagList span a.delete {
    display: none;
    position: absolute;
    top: -9px;
    right: -7px;
    width: 18px;
    height: 18px;
    background-color: #3b3b2c;
    background-image: url("images/sprites/close.png");
    background-repeat: no-repeat;
    background-position: 2px 2px;
    border-radius: 3px;
}
body .popUpScreen form.popUpWindow .group.tagList span.editable, body form.entrance .group.tagList span.editable, body form.registration .group.tagList span.editable {
    padding: 0px 6px;
}
body .popUpScreen form.popUpWindow .group.tagList span.editable input, body form.entrance .group.tagList span.editable input, body form.registration .group.tagList span.editable input {
    margin: 0px;
    padding: 0px;
    min-width: 10px;
    width: auto !important;
    border: 0px;
    height: 28px;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
    box-sizing: border-box;
}
body .popUpScreen form.popUpWindow .group.tagList span:hover a.delete, body form.entrance .group.tagList span:hover a.delete, body form.registration .group.tagList span:hover a.delete {
    display: block;
}
body .popUpScreen form.popUpWindow .warning, body form.entrance .warning, body form.registration .warning {
    padding: 10px 0px 15px;
    color: #fff;
    font-size: 18px;
    background-color: #5c7b00 !important;
}
body .popUpScreen form.popUpWindow .warning p, body form.entrance .warning p, body form.registration .warning p {
    margin: 0px;
}
body .popUpScreen form.popUpWindow.tags, body form.entrance.tags, body form.registration.tags {
    padding-bottom: 0px;
}
body .popUpScreen form.popUpWindow.tags .group:last-child, body form.entrance.tags .group:last-child, body form.registration.tags .group:last-child {
    padding: 10px 3px;
    margin-bottom: 0px;
    border-radius: 0px 0px 5px 5px;
}
body .popUpScreen form.popUpWindow.tags:after, body form.entrance.tags:after, body form.registration.tags:after {
    display: none;
}
body .popUpScreen form.popUpWindow.addOffer .group:nth-of-type(even), body .popUpScreen form.popUpWindow.addPerson .group:nth-of-type(even), body .popUpScreen form.popUpWindow.addOrganization .group:nth-of-type(even), body .popUpScreen form.popUpWindow.tags .group:nth-of-type(even), body .popUpScreen form.popUpWindow.editOffer .group:nth-of-type(even), body .popUpScreen form.popUpWindow.editPerson .group:nth-of-type(even), body .popUpScreen form.popUpWindow.editOrganization .group:nth-of-type(even), body form.entrance.addOffer .group:nth-of-type(even), body form.entrance.addPerson .group:nth-of-type(even), body form.entrance.addOrganization .group:nth-of-type(even), body form.entrance.tags .group:nth-of-type(even), body form.entrance.editOffer .group:nth-of-type(even), body form.entrance.editPerson .group:nth-of-type(even), body form.entrance.editOrganization .group:nth-of-type(even), body form.registration.addOffer .group:nth-of-type(even), body form.registration.addPerson .group:nth-of-type(even), body form.registration.addOrganization .group:nth-of-type(even), body form.registration.tags .group:nth-of-type(even), body form.registration.editOffer .group:nth-of-type(even), body form.registration.editPerson .group:nth-of-type(even), body form.registration.editOrganization .group:nth-of-type(even) {
    background-color: #e6f3bc;
}
body .popUpScreen form.popUpWindow a.button, body form.entrance a.button, body form.registration a.button {
    display: inline-block;
    margin: 10px 2px 0px 0px;
    width: 30px;
    height: 30px;
    float: right;
    background: url("images/sprites/popup-buttons.png") no-repeat;
}
body .popUpScreen form.popUpWindow a.button.plus, body form.entrance a.button.plus, body form.registration a.button.plus {
    background-position: 0px 0px;
}
body .popUpScreen form.popUpWindow a.button.edit, body form.entrance a.button.edit, body form.registration a.button.edit {
    margin-left: 10px;
    background-position: 0px -40px;
}
body .popUpScreen form.popUpWindow a.button.plusContact, body form.entrance a.button.plusContact, body form.registration a.button.plusContact {
    background-position: 0px -120px;
}
body .popUpScreen form.popUpWindow a.button:hover, body form.entrance a.button:hover, body form.registration a.button:hover {
    background-position-x: -38px;
    margin-right: 3px;
    box-shadow: none;
}
body .popUpScreen form.popUpWindow .width245, body form.entrance .width245, body form.registration .width245 {
    width: 245px !important;
}
body .popUpScreen form.popUpWindow .width255, body form.entrance .width255, body form.registration .width255 {
    width: 255px !important;
}
body .popUpScreen form.popUpWindow .width315, body form.entrance .width315, body form.registration .width315 {
    width: 315px !important;
}
body .popUpScreen form.popUpWindow .width370, body form.entrance .width370, body form.registration .width370 {
    width: 370px !important;
}
body .popUpScreen form.popUpWindow input[type="radio"], body .popUpScreen form.popUpWindow input[type="checkbox"], body form.entrance input[type="radio"], body form.entrance input[type="checkbox"], body form.registration input[type="radio"], body form.registration input[type="checkbox"] {
    display: none;
}
body .popUpScreen form.popUpWindow input[type="radio"] + label, body .popUpScreen form.popUpWindow input[type="checkbox"] + label, body form.entrance input[type="radio"] + label, body form.entrance input[type="checkbox"] + label, body form.registration input[type="radio"] + label, body form.registration input[type="checkbox"] + label {
    cursor: pointer;
}
body .popUpScreen form.popUpWindow input[type="radio"] + label:after, body .popUpScreen form.popUpWindow input[type="checkbox"] + label:after, body form.entrance input[type="radio"] + label:after, body form.entrance input[type="checkbox"] + label:after, body form.registration input[type="radio"] + label:after, body form.registration input[type="checkbox"] + label:after {
    content: "";
    position: absolute;
    bottom: 2px;
    right: -5px;
    display: inline-block;
    width: 31px;
    height: 29px;
    background: url("images/sprites/checkbox.png") no-repeat;
}
body .popUpScreen form.popUpWindow input[type="radio"]:checked + label:after, body .popUpScreen form.popUpWindow input[type="checkbox"]:checked + label:after, body form.entrance input[type="radio"]:checked + label:after, body form.entrance input[type="checkbox"]:checked + label:after, body form.registration input[type="radio"]:checked + label:after, body form.registration input[type="checkbox"]:checked + label:after {
    background-position: -40px 0px;
}
body .popUpScreen form.popUpWindow input.button, body .popUpScreen form.popUpWindow a.formButton, body form.entrance input.button, body form.entrance a.formButton, body form.registration input.button, body form.registration a.formButton {
    position: relative;
    float: right;
    display: inline-block;
    margin: 15px 10px 0px;
    height: 32px;
    width: 152px;
    line-height: 26px;
    text-align: center;
    font-size: 22px;
    color: #3b3b2c;
    border: #80794f 2px solid;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body .popUpScreen form.popUpWindow input.button[type="reset"], body .popUpScreen form.popUpWindow input.button.reset-button, body .popUpScreen form.popUpWindow input.button.cancel, body .popUpScreen form.popUpWindow input.button.formButton, body .popUpScreen form.popUpWindow a.formButton[type="reset"], body .popUpScreen form.popUpWindow a.formButton.reset-button, body .popUpScreen form.popUpWindow a.formButton.cancel, body .popUpScreen form.popUpWindow a.formButton.formButton, body form.entrance input.button[type="reset"], body form.entrance input.button.reset-button, body form.entrance input.button.cancel, body form.entrance input.button.formButton, body form.entrance a.formButton[type="reset"], body form.entrance a.formButton.reset-button, body form.entrance a.formButton.cancel, body form.entrance a.formButton.formButton, body form.registration input.button[type="reset"], body form.registration input.button.reset-button, body form.registration input.button.cancel, body form.registration input.button.formButton, body form.registration a.formButton[type="reset"], body form.registration a.formButton.reset-button, body form.registration a.formButton.cancel, body form.registration a.formButton.formButton {
    background-color: #bbbd71;
}
body .popUpScreen form.popUpWindow input.button[type="submit"], body .popUpScreen form.popUpWindow input.button.submit-button, body .popUpScreen form.popUpWindow input.button.find, body .popUpScreen form.popUpWindow a.formButton[type="submit"], body .popUpScreen form.popUpWindow a.formButton.submit-button, body .popUpScreen form.popUpWindow a.formButton.find, body form.entrance input.button[type="submit"], body form.entrance input.button.submit-button, body form.entrance input.button.find, body form.entrance a.formButton[type="submit"], body form.entrance a.formButton.submit-button, body form.entrance a.formButton.find, body form.registration input.button[type="submit"], body form.registration input.button.submit-button, body form.registration input.button.find, body form.registration a.formButton[type="submit"], body form.registration a.formButton.submit-button, body form.registration a.formButton.find {
    background-color: #b1d446;
}
body .popUpScreen form.popUpWindow input.button.delete, body .popUpScreen form.popUpWindow a.formButton.delete, body form.entrance input.button.delete, body form.entrance a.formButton.delete, body form.registration input.button.delete, body form.registration a.formButton.delete {
    background-color: #5c7b00;
    color: #fff;
}
body .popUpScreen form.popUpWindow input.button.delete:hover, body .popUpScreen form.popUpWindow a.formButton.delete:hover, body form.entrance input.button.delete:hover, body form.entrance a.formButton.delete:hover, body form.registration input.button.delete:hover, body form.registration a.formButton.delete:hover {
    color: #b1d446;
}
body .popUpScreen form.popUpWindow input.button:hover, body .popUpScreen form.popUpWindow a.formButton:hover, body form.entrance input.button:hover, body form.entrance a.formButton:hover, body form.registration input.button:hover, body form.registration a.formButton:hover {
    box-shadow: #3b3b2c 0px 0px 10px;
}
body .popUpScreen form.popUpWindow input.button[disabled="disabled"], body .popUpScreen form.popUpWindow a.formButton[disabled="disabled"], body form.entrance input.button[disabled="disabled"], body form.entrance a.formButton[disabled="disabled"], body form.registration input.button[disabled="disabled"], body form.registration a.formButton[disabled="disabled"] {
    background-color: #e6f3bc !important;
    border-color: #d0d29e;
    color: #bbbd71;
}
body .popUpScreen form.popUpWindow input.button[disabled="disabled"]:hover, body .popUpScreen form.popUpWindow a.formButton[disabled="disabled"]:hover, body form.entrance input.button[disabled="disabled"]:hover, body form.entrance a.formButton[disabled="disabled"]:hover, body form.registration input.button[disabled="disabled"]:hover, body form.registration a.formButton[disabled="disabled"]:hover {
    box-shadow: none;
}
body .popUpScreen form.popUpWindow .buttons, body form.entrance .buttons, body form.registration .buttons {
    text-align: center;
}
body .popUpScreen form.popUpWindow .buttons input.button, body form.entrance .buttons input.button, body form.registration .buttons input.button {
    float: none;
    width: 166px;
}
body .popUpScreen form.popUpWindow.deleteConfirmation .warning, body form.entrance.deleteConfirmation .warning, body form.registration.deleteConfirmation .warning {
    margin-top: 30px;
}
body .popUpScreen form.popUpWindow.deleteConfirmation:after, body form.entrance.deleteConfirmation:after, body form.registration.deleteConfirmation:after {
    display: none;
}
body .popUpScreen form.popUpWindow a.more, body form.entrance a.more, body form.registration a.more {
    position: relative;
    display: inline-block;
    margin: 9px 0px -10px 0px;
    width: 33px;
    height: 33px;
    background-color: #e6f3bc;
    border-radius: 5px 20px 20px 5px;
    transition: ease-out 0.3s;
}
body .popUpScreen form.popUpWindow a.more:hover, body form.entrance a.more:hover, body form.registration a.more:hover {
    background-color: #b1d446;
}
body .popUpScreen form.popUpWindow a.more:after, body form.entrance a.more:after, body form.registration a.more:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 35%;
    display: block;
    width: 0px;
    height: 0px;
    border-left: 7px solid #3b3b2c;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    transition: ease-out 0.3s;
}
body .popUpScreen form.popUpWindow a.more.active, body form.entrance a.more.active, body form.registration a.more.active {
    border-radius: 5px 20px 0px 0px;
    transition: ease-out 0.3s;
}
body .popUpScreen form.popUpWindow a.more.active:after, body form.entrance a.more.active:after, body form.registration a.more.active:after {
    transform: rotate(90deg);
    transition: ease-out 0.3s;
}
body .popUpScreen form.popUpWindow .nameParts, body form.entrance .nameParts, body form.registration .nameParts {
    position: relative;
    left: 25px;
    width: 570px;
    padding: 5px 0px 20px 10px;
    background-color: #e6f3bc;
    border-radius: 0px 0px 20px 20px;
}
body .popUpScreen form.popUpWindow .nameParts label, body form.entrance .nameParts label, body form.registration .nameParts label {
    width: 135px !important;
}
body .popUpScreen form.popUpWindow .nameParts input[type="text"], body form.entrance .nameParts input[type="text"], body form.registration .nameParts input[type="text"] {
    width: 370px;
}
body .displayNone {
    display: none !important;
}
body .displayBlock {
    display: block !important;
}

.popUpOn {
    overflow: hidden;
}

.breadcrumbs .mCSB_scrollTools .mCSB_draggerRail, .workspace .mCSB_scrollTools .mCSB_draggerRail {
    background-color: #d0d29e;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #839b3d;
}

.slider {
    width: 700px;
    height: 500px;
    margin: 0px auto;
    padding: 10px;
}

.entrance {
    top: 15px !important;
    margin: 0px auto;
    padding-bottom: 10px !important;
    width: 650px !important;
    border: 1px #d0d29e solid !important;
    text-align: center;
}
.entrance .heading {
    color: #80794f !important;
    background-color: #fff !important;
    border-radius: 5px;
}
.entrance:after {
    display: none !important;
}
.entrance input {
    width: 200px !important;
    color: #80794f !important;
    border-color: #aeb258 !important;
    background-color: #fff !important;
}
.entrance input.button {
    background-color: #d0d29e !important;
    color: #fff !important;
    margin: 10px 5px 0px 2px !important;
    width: 100px !important;
    float: none !important;
}
.entrance input.button:hover {
    color: #80794f !important;
    box-shadow: 0px 0px 5px #80794f !important;
}
.entrance input:focus {
    border-color: #b1d446 !important;
    box-shadow: 0px 0px 10px #b1d446 !important;
}
.entrance .accounts {
    margin-top: 10px;
}
.entrance .accounts a {
    display: inline-block;
    margin: 0px 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-image: url("images/sprites/accounts.png");
    background-repeat: no-repeat;
    border-radius: 5px;
}
.entrance .accounts a:hover {
    background-color: #5c7b00;
    box-shadow: 0px 0px 10px #5c7b00;
}
.entrance .accounts a.facebook {
    background-position: -60px 0px;
}
.entrance .accounts a.google {
    background-position: -120px 0px;
}
.entrance .accounts a.vkontakte {
    background-position: -180px 0px;
}

.heading.search_contacts + .blockGroup .block, .heading.search_services + .blockGroup .block, .heading.search_organizations + .blockGroup .block, .heading.search_offers + .blockGroup .block {
    cursor: pointer;
}

a.registration, a.back {
    color: #839b3d;
    text-decoration: underline;
    cursor: pointer;
}
a.registration:hover, a.back:hover {
    color: #5c7b00;
    text-shadow: 0px 0px 10px #b1d446;
}

.mCustomScrollBox {
    width: 100%;
}

.workspace .mCustomScrollBox, .workspace .mCSB_container {
    height: auto !important;
}

.container.editable .edit {
    left: -10px;
    top: -10px;
}

.container.filtered .block {
    opacity: 0.5;
}
.container.filtered .block.filter_hit {
    opacity: 1;
}
.container.filtered .block.filter_hit .heading {
    font-style: italic;
}
.container.filtered .block.filter_hit .section {
    color: #5c7b00;
    font-weight: bold;
}
