script(type="text/ng-template", id="modals/org.html")
    include org
script(type="text/ng-template", id="modals/person.html")
    include person
script(type="text/ng-template", id="modals/offer.html")
    include offer
script(type="text/ng-template", id="modals/tags.html")
    include tags
script(type="text/ng-template", id="modals/confirmDelete.html")
    include confirmDelete
script(type="text/ng-template", id="modals/pathsDisplay.html")
    include pathsDisplay