form.popUpWindow.deleteConfirmation
    span.heading
        a.close(ng-click="cancelDelete()")
        span Удаление записи
    .group.warning
            p.center
                span.large.center
                    span(ng-show="message")
                        | {{message}}
                        </br>
                    |  Вы действительно хотите удалить {{dataType}}?
    .group.buttons
            input.button.cancel(type='button', value='Отказаться', ng-click="cancelDelete()")
            input.button.delete(type='button', value='Удалить', ng-click="confirmDelete()")
