form.popUpWindow(novalidate, name="data.offerModal", ng-class="popUpCss()")
    span.heading
        .image
        a.close(ng-click="cancelAndExit()", ng-disabled="isSaving")
        span(ng-show='!data.id') Добавление нового предложения
        span(ng-show='data.id') Редактирование предложения
    .group
        label.service(for='offerName')
            .image
            | Услуга:
        input#offerName(type='text', placeholder='Введите название услуги', required, ng-model="data.offerType.label", typeahead-on-select="setOfferType($item)", typeahead="p.label for p in loadTags($viewValue)", name="offerName")
        .message.offer-name-validation-error(ng-show="data.offerModal.offerName.$invalid && !data.offerModal.offerName.$pristine") Тип услуги обязателен
    .group
        label.person(for='offerContact')
            .image
            | Контакт:
        input#offerContact(type='text', placeholder='Введите имя персоны', required, ng-model="data.hostSubject.label", typeahead-on-select="setHostSubject($item)", typeahead="p.label for p in loadPeople($viewValue, data.hostSubject)", name="offerContact")
        .message.offer-contact-validation-error(ng-show="data.offerModal.offerContact.$invalid && !data.offerModal.offerContact.$pristine") Контактное лицо обязательно
        label.relation.width255
            .image
            | Выступает в качестве:
        input#offerRel1(type='radio', name='offerRelation', ng-model="data.isProxy", ng-value="false")
        label.radio#offerRel1Label(for='offerRel1') Исполнителя
        input#offerRel2(type='radio', name='offerRelation', ng-model="data.isProxy", ng-value="true")
        label.radio#offerRel2Label(for='offerRel2') Посредника
        .block(ng-show="data.isProxy")
            label.performer(for='offerPerformer')
                .image
                | Исполнитель:
            input#offerPerformer(type='text', placeholder='Оставьте поле пустым, если неизвестен', ng-model="data.proxySubject.label", typeahead-on-select="setProxySubject($item)", typeahead="p.label for p in loadPeopleAndOrgs($viewValue, data.proxySubject)", name="offerPerformer")
            .message.offer-validation-error(ng-show="(!data.offerModal.offerPerformer.$invalid && !data.offerModal.offerPerformer.$pristine) && (!data.proxySubject.type || !data.proxySubject.id) && data.proxySubject.label") Внести:
                input#offerPerformerType1(type='radio', name='offerPerformerType', ng-required="data.proxySubject.label && data.isProxy && !data.proxySubject.type", ng-model="data.proxySubject.type", value="person", ng-click="switchToPersonPerformer()")
                label.radio#offerPerformerType1Label(for='offerPerformerType1') новую персону
                input#offerPerformerType2(type='radio', name='offerPerformerType', ng-required="data.proxySubject.label && data.isProxy && !data.proxySubject.type", ng-model="data.proxySubject.type", value="organization", ng-click="switchToOrgPerformer()")
                label.radio#offerPerformerType2Label(for='offerPerformerType2') новую организацию
    .group
        label.info(for='offerInfo')
            .image
            | Описание:
        textarea#offerInfo(placeholder='Введите описание предложения', ng-model="data.offerDescription", name="offerDescription")
    input.button.submit-button(type='button', value='Сохранить', ng-click="saveAndExit()", ng-disabled="isSaving || data.offerModal.$pristine || data.offerModal.$invalid")
    input.button.reset-button(type='button', ng-value='resetText()', ng-click="reset()", ng-disabled="isSaving || data.offerModal.$pristine")

