form.popUpWindow(novalidate, name="data.orgModal", ng-class="popUpCss()")
    span.heading
        .image
        a.close(ng-click="cancelAndExit()", ng-disbaled="isSaving")
        span(ng-show='!data.orgId') Добавление новой организации
        span(ng-show='data.orgId') Редактирование организации
    // .heading
    .group
        label.organization(for='personName')
            .image
            | Организация:
        input#orgName(type='text', placeholder='Введите название организации', required, ng-model="data.orgName", name="orgName")
        .message.org-name-validation-error(ng-show="data.orgModal.orgName.$invalid && !data.orgModal.orgName.$pristine") Имя организации обязательно
        span
            span(ng-repeat="contact in data.contacts")
                label.select.width255(for='noteType', ng-class="contactCss(contact)")
                    .image
                    select#noteType.width255(ng-options="contactType.name for contactType in sets.contactTypes", ng-model="contact.contactType")
                input#noteValue.width255(type='text', placeholder='Введите данные', ng-model="contact.contactValue")
            a.button.plus(ng-click="addContact()")
    .group
        span.multiple
            span(ng-repeat="person in data.people")
                label.person(for='orgPerson')
                    .image
                    | Персона:
                input#orgPerson.width370(type='text', placeholder='Введите имя персоны', ng-model="person.personName", typeahead-on-select="setPerson(person, $item)", typeahead="p.label for p in loadPeople($viewValue, person)")

                label.relation
                    | Должность:
                label.select.relationType.width370(for='relationFor')
                    select#relationFor.width370(ng-options="personRole.name for personRole in sets.personRoles", ng-model="person.personRole")
                a.button.plusContact(ng-show='$index == data.people.length-1', ng-click="addPerson()")
    // .group
    .group
        label.tag(for='orgTag')
            .image
            | Метки:
        //input#organizationTag.width370(type='text', placeholder='Введите метки')
        tags-input#orgTag.width370(ng-model="data.tags", display-property="label", on-tag-added="addTag(item, $tag)", on-tag-removed="removeTag(item, $tag)", replace-spaces-with-dashes = "false", placeholder="Введите метки", min-length=1)
            auto-complete(source="loadTags($query)")
    // .group
    input.button.submit-button(type='button', value='Сохранить', ng-click="saveAndExit()", ng-disabled="isSaving || data.orgModal.$pristine || data.orgModal.$invalid")
    input.button.reset-button(type='button', ng-value='resetText()', ng-click="reset()", ng-disabled="isSaving || data.orgModal.$pristine")
