form.popUpWindow(novalidate, name="data.personModal", ng-class="popUpCss()")
    span.heading
        .image
        a.close(ng-click="cancelAndExit()", ng-disabled="isSaving")
        span(ng-show='!data.personId') Добавление новой персоны
        span(ng-show='data.personId') Редактирование персоны
    // .heading
    .group
        label.person(for='personName')
            .image
            | ФИО:
        input#personName.width370(type='text', required='', ng-model="data.name.fullName", ng-change="inputFullNameChanged($value)"
            , name="personName", ng-required="true", placeholder='Введите ФИО персоны', ng-disabled="showPersonNameCard")
        a.more(ng-click="switchPersonNameCard()", id="tt-switch-person-name-card", ng-class="{active : showPersonNameCard}")
        .message.person-name-validation-error(ng-show="data.personModal.personName.$invalid && !data.personModal.personName.$pristine") Имя персоны обязательно
        .nameParts(ng-show="showPersonNameCard")
            label.info(for='surname')
                .image
                | Фамилия:
            input#surname(type='text', placeholder='Введите фамилию персоны', ng-model="data.name.lastName")
            label.info(for='name')
                .image
                | Имя:
            input#name(type='text', placeholder='Введите имя персоны', ng-model="data.name.firstName")
            label.info(for='patronymic')
                .image
                | Отчество:
            input#patronymic(type='text', placeholder='Введите отчество персоны', ng-model="data.name.middleName")
            label.info(for='alias')
                .image
                | Прозвище:
            input#alias(type='text', placeholder='Введите прозвище персоны', ng-model="data.name.nickName")

        label.sex
            .image
            |Пол:
        input#male(type="radio", name='personSex', ng-model="data.sex", value="male", ng-click="switchMaleSex()")
        label.radio(for="male") Мужской
        input#female(type="radio", name='personSex', ng-model="data.sex", value="female", ng-click="switchFemaleSex()")
        label.radio(for="female") Женский
    .group
        label.date.width255(for='personDate')
            .image
            | Дата рождения:
        input#personDate.width315(type='text', placeholder='дд.мм.гггг', ng-pattern='/[0-9]{2}.[0-9]{2}.[0-9]{4}/', ng-model="data.personDate", name="personDate")
        .message.person-date-validation-error(ng-show="data.personModal.personDate.$invalid && !data.personModal.personDate.$pristine") Дата рождения должна быть в виде дд.мм.гггг
        span
            span(ng-repeat="contact in data.contacts")
                //временно, для профиля с личным mailbox
                span(ng-show="contact.contactType")
                    label.select.width255(for='noteType', ng-class="contactCss(contact)")
                        .image
                        select#noteType.width255(ng-options="contactType.name for contactType in sets.contactTypes", ng-model="contact.contactType")
                    input#noteValue.width255(type='text', placeholder='Введите данные', ng-model="contact.contactValue")
            a.button.plus(ng-click="addContact()")
    .group
            span(ng-repeat="org in data.orgs")
                label.organization(for='personOrg')
                    .image
                    | Организация:
                input#personOrg.width370(type='text', placeholder='Введите название организации', ng-model="org.orgName", typeahead-on-select="setOrg(org, $item)", typeahead="p.label for p in loadOrgs($viewValue, org)")
            a.button.plus(ng-click="addOrg()")
    .group
        span.multiple
            span(ng-repeat="person in data.people")
                label.person(for='personPerson')
                    .image
                    | Знает:
                input#personPerson.width370(type='text', placeholder='Введите имя персоны', ng-model="person.personName", typeahead-on-select="setPerson(person, $item)", typeahead="p.label for p in loadPeople(person, $viewValue)")
                span.block
                    label.relation
                        .image
                        | В качестве:
                    label.select.relationType(for='personRole')
                        select#personRole.width370(ng-options="relType.name for relType in sets.relTypes", ng-model="person.personRole")
                    //label.relation
                        .image
                        | А контакт:
                    //label.select.relationType(for='hostRole')
                        select#hostRole.width370(ng-options="relType.name for relType in sets.relTypes", ng-model="person.hostRole")
                a.button.plusContact(ng-show='$index == data.people.length-1', ng-click="addPerson()")

    .group
        label.tag(for='personTag')
            .image
            | Метки:
        //input#personTag.width370(type='text', placeholder='Введите метки')
        tags-input#personTag.width370(ng-model="data.tags", display-property="label", on-tag-added="addTag(item, $tag)", on-tag-removed="removeTag(item, $tag)", replace-spaces-with-dashes = "false", placeholder="Введите метки", min-length=1)
            auto-complete(source="loadTags($query)")
    // .group
    .group(ng-show='!data.personId')
        label.relation.width245
            .image
            | Мы контактируем:
        input#personRel1(type='radio', name='personRelation', ng-model="data.relationType", value="direct", ng-click="switchRelationDirect()")
        label.radio#personRel1Label(for='personRel1') Очно
        input#personRel2(type='radio', name='personRelation', ng-model="data.relationType", value="proxy", ng-click="switchRelationProxy()")
        label.radio#personRel2Label(for='personRel2') Заочно
        span(ng-show='data.relationType == "proxy" || data.relationType == "direct"')
            span(ng-show='data.relationType == "proxy"')
                .displayBlock
                    label.person.width255(for='personPerformer')
                        .image
                        | Общий знакомый:
                    input#personPerformer.width315(type='text', placeholder='Введите имя посредника',
                        ng-model="data.relationProxyLabel", name="personPerformer", ng-required="data.relationType == 'proxy'", typeahead-on-select="setPersonPerformer($item)", typeahead="p.label for p in loadPerformers($viewValue)")
                    .message.person-performer-validation-error(ng-show="data.personModal.personPerformer.$invalid && !data.personModal.personPerformer.$pristine") Имя посредника обязательно
                // .displayBlock
            .block
                label.relation
                    .image
                    | Он для меня:
                label.select.relationType(for='relationFor')
                    select#relationFor.width370(ng-options="relType.name for relType in sets.relTypes", ng-model="data.personRelType")
                //label.relation
                    .image
                    | Я для него:
                //label.select.relationType(for='relationTo')
                    select#relationTo.width370(ng-options="relType.name for relType in sets.relTypes", ng-model="data.ownerRelType")
            // .block
    // .group
    input.button.submit-button(type='button', value='Сохранить', ng-click="saveAndExit()", ng-disabled="isSaving || data.personModal.$pristine || data.personModal.$invalid")
    input.button.reset-button(type='button', ng-value='resetText()', ng-click="reset()", ng-disabled="isSaving ||data.personModal.$pristine")
// .popUpWindow
