form.popUpWindow.tags
    span.heading
        .image
        a.close(ng-click="exit()")
        span Метки
        //
           .heading
    .group
            label.tag(for='tag')
                .image
                | Найти/создать:
            input#tag.width370(type='text', placeholder='Введите метку',
                ng-model="inputTag", ng-change="inputTagChanged(inputTag)")
            a.button.plus(ng-click="createTag(inputTag)", ng-disabled="isSaving || !inputTag")
        //
           .group
    span(ng-show="removingTag")
            .group.warning
                p.center
                    span.large
                        | Вы действительно хотите удалить метку
                        span.tag {{removingTag.name}}
                        | ?
                    br
                    span.italic(ng-show="removingTag.linksCount !== undefined")
                        | (привязана к {{removingTag.linksCount}} объeктам)
            //
               .group
            .group.buttons
                input.button.cancel(type='button', value='Отказаться', ng-click="cancelAskingRemoveTag()", ng-disabled="isSaving")
                input.button.find(type='button', value='Найти объекты',
                    ng-disabled="removingTag.linksCount === undefined || removingTag.linksCount === 0 || isSaving")
                input.button.delete(type='button', value='Удалить', ng-click="removeAskingTag()", ng-disabled="isSaving")
            //
               .group
    .group.tagList
            span(href='#', ng-repeat="tag in tags")
                | {{tag.name}}
                a.delete.tt-unhide(ng-click="askRemoveTag(tag)", ng-disabled="isSaving")
        //
           .group
