.workspace
    .container
        //
            #card-1.anchor
            a.edit
            .heading.search-services
                .image
                .name
                    span.type &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
                    | &pcy;&ocy; &zcy;&acy;&pcy;&rcy;&ocy;&scy;&ucy;
                    br
                    | &amp;quot
                    span.search-request &rcy;&iecy;&mcy;&ocy;&ncy;&tcy; &acy;&vcy;&tcy;&ocy;
                    | &amp;quot
                // .name
            // .heading search-services
            .blockGroup
                .block
                    .heading.service
                        span &rcy;&iecy;&mcy;&ocy;&ncy;&tcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&iecy;&jcy;
                        .image
                // .block
                .block
                    .heading.service
                        span &pcy;&ocy;&kcy;&rcy;&acy;&scy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&iecy;&jcy;
                        .image
                // .block
                .block
                    .heading.service
                        span &tcy;&iecy;&khcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;
                        .image
                    .section.org
                        | &quot;&Acy;&vcy;&tcy;&ocy;&Scy;&iecy;&rcy;&vcy;&icy;&scy;&quot;
                        .image
                // .block
            // .blockGroup
        // .container
        .container
            #card-2.anchor
            a.edit
            .heading.search-orgs
                .image
                .name
                    span.type &Ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy;
                    | &pcy;&ocy; &zcy;&acy;&pcy;&rcy;&ocy;&scy;&ucy;
                    br
                    | &amp;quot
                    span.search-request &rcy;&iecy;&mcy;&ocy;&ncy;&tcy; &acy;&vcy;&tcy;&ocy;
                    | &amp;quot
            // .heading search-orgs
            .blockGroup
                .block
                    .heading.org
                        span &quot;&Acy;&vcy;&tcy;&ocy;&Scy;&iecy;&rcy;&vcy;&icy;&scy;&quot;
                        .image
                // .block
                .block
                    .heading.org
                        span &gcy;&acy;&rcy;&acy;&zhcy;
                        .image
                    .section.service
                        | &pcy;&ocy;&kcy;&rcy;&acy;&scy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&iecy;&jcy;
                        .image
                // .block
                .block
                    .heading.org
                        span &Vcy;&ocy;&scy;&khcy;&ocy;&dcy;
                        .image
                    .section.tag
                        | &rcy;&iecy;&mcy;&ocy;&ncy;&tcy;
                        .image
                // .block
            // .blockGroup
        // .container
        .container
            #card-3.anchor
            a.edit
            .heading.search-contacts
                .image
                .name
                    span.type &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
                    | &pcy;&ocy; &zcy;&acy;&pcy;&rcy;&ocy;&scy;&ucy;
                    br
                    | &amp;quot
                    span.search-request &rcy;&iecy;&mcy;&ocy;&ncy;&tcy; &acy;&vcy;&tcy;&ocy;
                    | &amp;quot
                // .name
            // .heading search-contacts
            .blockGroup
                .block
                    .heading.person
                        | &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Zcy;&ucy;&bcy;&ocy;&vcy;
                        .image
                    .section.service
                        | &pcy;&ocy;&kcy;&rcy;&acy;&scy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&iecy;&jcy;
                        .image
                    .section.service
                        | &rcy;&iecy;&mcy;&ocy;&ncy;&tcy; &zcy;&acy;&mcy;&kcy;&ocy;&vcy;
                        .image
                    .section.org
                        | &quot;&Acy;&vcy;&tcy;&ocy;&Scy;&iecy;&rcy;&vcy;&icy;&scy;&quot;
                        .image
                // .block
                .block
                    .heading.person
                        | &Vcy;&acy;&ncy;&yacy;
                        .image
                    .section.service
                        | &acy;&vcy;&tcy;&ocy;&scy;&icy;&gcy;&ncy;&acy;&lcy;&icy;&zcy;&acy;&tscy;&icy;&icy;
                        .image
                // .block
                .block.selected
                    .heading.person
                        | &Vcy;&yacy;&chcy;&iecy;&scy;&lcy;&acy;&vcy; &Kcy;&ocy;&tcy;&ocy;&vcy;&scy;&kcy;&icy;&jcy;
                        .image
                    .section.service
                        | &rcy;&iecy;&mcy;&ocy;&ncy;&tcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&iecy;&jcy;
                        .image
                    .section.service
                        | &pcy;&rcy;&ocy;&kcy;&acy;&tcy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&iecy;&jcy;
                        .image
                // .block
                .block
                    .heading.person
                        | &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Icy;&vcy;&acy;&ncy;&ocy;&vcy;&icy;&chcy;
                        .image
                    .section.tag
                        | &acy;&vcy;&tcy;&ocy;
                        .image
                // .block
                .block
                    .heading.person
                        | &Icy;&mcy;&yacy;&rcy;&iecy;&kcy; &Acy;&vcy;&tcy;&ocy;&vcy;
                        .image
                // .block
                .block
                    .heading.person
                        | &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy; &Icy;&vcy;&acy;&ncy;&ocy;&vcy;&icy;&chcy; 2
                        .image
                    .section.tag
                        | &acy;&vcy;&tcy;&ocy;
                        .image
                // .block
            // .blockGroup
            .blockGroup.more
                .block
                    .heading.person
                        | Lorem Ipsum 1
                        .image
                    .section.service
                        | dolor sit amet
                        .image
                // .block
                .block
                    .heading.person
                        | Lorem Ipsum 2
                        .image
                    .section.service
                        | dolor sit amet
                        .image
                // .block
                .block
                    .heading.person
                        | Lorem Ipsum 3
                        .image
                    .section.service
                        | dolor sit amet
                        .image
                // .block
                .block
                    .heading.person
                        | Lorem Ipsum 4
                        .image
                    .section.service
                        | dolor sit amet
                        .image
                // .block
                .block
                    .heading.person
                        | Lorem Ipsum 5
                        .image
                    .section.service
                        | dolor sit amet
                        .image
                // .block
                .block
                    .heading.person
                        | Lorem Ipsum 6
                        .image
                    .section.service
                        | dolor sit amet
                        .image
                // .block
            // .blockGroup more
            #moreButton
        // .container
        .container.editable
            #card-4.anchor
            a.edit
            .heading.info-person
                .image
                .pin
                .name
                    | &Vcy;&yacy;&chcy;&iecy;&scy;&lcy;&acy;&vcy; &Kcy;&ocy;&tcy;&ocy;&vcy;&scy;&kcy;&icy;&jcy;
            // .heading person
            .block
                .heading.info
                    span &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ncy;&ycy;&iecy; &dcy;&acy;&ncy;&ncy;&ycy;&iecy;
                    .image
                .section.phone
                    | 8 999 888 77 66
                    .image
                .section.mob
                    | &plus;7 999 888 77 66
                    .image
                .section.eMail
                    | kotoslav&commat;example&period;com
                    .image
                .section.skype
                    | kotoslavik
                    .image
            // .block
            .block
                .heading.relations
                    span &Ocy;&bcy;&shchcy;&icy;&iecy; &scy;&vcy;&yacy;&zcy;&icy;&colon;
                    .image
                .section.person
                    span &Gcy;&iecy;&ncy;&ncy;&acy;&dcy;&icy;&jcy; &Lcy;&yacy;&khcy;&ocy;&vcy;
                    | -
                    span &ocy;&dcy;&ncy;&ocy;&kcy;&lcy;&acy;&scy;&scy;&ncy;&icy;&kcy;
                    .image
                .section.person
                    span &Acy;&rcy;&tcy;&iecy;&mcy; &Kcy;&ocy;&ncy;&ocy;&vcy;&acy;&lcy;&ocy;&vcy;
                    | -
                    span &kcy;&ocy;&lcy;&lcy;&iecy;&gcy;&acy;
                    .image
            // .block
            .block
                .heading.org
                    span &Ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy;&colon;
                    .image
                .section.org
                    span &quot;&Fcy;&acy;&scy;&tcy;&Scy;&iecy;&rcy;&vcy;&icy;&scy;&quot;
                    .image
            // .block
            .block
                .heading.service
                    span &Ucy;&scy;&lcy;&ucy;&gcy;&icy;&colon;
                    .image
                .section.service
                    span &pcy;&ocy;&kcy;&rcy;&acy;&scy;&kcy;&acy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&iecy;&jcy;
                    .image
            // .block
            .block
                .heading.tag
                    span &Mcy;&iecy;&tcy;&kcy;&icy;&colon;
                    .image
                .section.tag.heightAuto
                    span.tag &acy;&ecy;&rcy;&ocy;&gcy;&rcy;&acy;&fcy;&icy;&yacy;
                    span.tag &scy;&rcy;&ocy;&chcy;&ncy;&ocy;
                    span.tag &dcy;&iecy;&shcy;&iecy;&vcy;&ocy;
                    span.tag lorem
                    span.tag ipsum
                    span.tag dolor
                    .image
            // .block
        // .container
    // .workspace
