.history(ng-controller="historyController")
    ul.breadcrumbs.scrolly(scrollable, scrollable-items="stack")
        li.tt-history-item(ng-repeat="item in stack")
            .line
            .image(ng-class="item.item.type")
            a.crumbName(ng-click="restorePoint(item)")
                {{getCaption(item)}}

