.navigation(ng-controller="searchController")
    // *** searchBlock start ***
    .searchBlock
        form(name='', method='', action='', role="search", ng-submit="search(term, filter.subjectType)")
            input#term_input(type='text', name='', placeholder='Введите слово', ng-model="term",
                ng-focus="termInputFocused(true)")
            //ul.advancedOptions
                li.parent
                    div
                    ul
                        li
                            form
                                input#archive(type='checkbox')
                                label(for='archive') Искать в Архиве
            input#search_button(type='submit', name='', value='', ng-click="search(term, filter.subjectType)")
            #searchPerson.section(ng-click="search(term, 'person')", ng-class="{active: filter.subjectType=='person'}")
                a Персоны
                .counter  {{search.result.totalCount.people}}
            // .section
            #searchOffer.section(ng-click="search(term, 'offer')", ng-class="{active: filter.subjectType=='offer'}")
                a Услуги
                .counter  {{search.result.totalCount.offers}}
            // .section
            #searchOrg.section(ng-click="search(term, 'organization')", ng-class="{active: filter.subjectType=='organization'}")
                a Организации
                .counter  {{search.result.totalCount.organizations}}
            // .section
    // .searchBlock
    // *** pin list start ***
    include pins
// .navigation
