.label  Прикреплённые
.pinList.scrolly(ng-controller="pinController", scrollable, scrollable-items="pins")
    div(ng-repeat="pin in pins", ng-class="[pin.item.userLinkType, pin.item.subject.type]")
        a.close(ng-click="unpin(pin)")
        span(ng-click="loadPin(pin)")
            .image
            .relation(ng-if="pin.item.userRole")  {{pin.item.userRole}}
            .relation(ng-if="pin.item.userProxy") через  {{pin.item.userProxy.label}}
            .relation(ng-if="!pin.item.userRole && !pin.item.userProxy") нет связей
            .name {{pin.item.subject.label}}
        .info
            span(editable-textarea="pin.item.description", onbeforesave="updatePin(pin.item.id, $data)" e-form="pinDescriptionForm", buttons="no", blur="submit")
        .info(ng-click="pinDescriptionForm.$show()" ng-hide="pinDescriptionForm.$visible")
            | {{ pin.item.description }}
