header
    .logo
        img(src='img/logo.png', alt='QLANIR.com')
    .serviceMenu
        a.floatLeft.newOffer(ng-click="newOffer()")
        a.floatLeft.newPerson(ng-click="newPerson()")
        a.floatLeft.newOrganization(ng-click="newOrg()")
        login
        a.floatRight.profile(ng-click="showProfile()")
        //a.floatRight.mobileVersion(href='#')
        //a.floatRight.ruLang(href='#')
        a.floatRight.tags(ng-click="editTags()")
        ul.settings.floatRight
            li
                ul
                    //li
                        form
                            input#connection(type='checkbox')
                            label(for='connection') &Scy;&ocy;&iecy;&dcy;&icy;&ncy;&iecy;&ncy;&icy;&iecy;
                    //li
                        form
                            input#cache(type='checkbox')
                            label(for='cache') &Kcy;&ecy;&shcy;
                    //li
                        a(href='#') &Scy;&icy;&ncy;&khcy;&rcy;&ocy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&yacy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
                    li
                        a(href='#', ng-click="resetUI()") Очистить стол
                    //li
                        a(href='#') &Scy;&bcy;&rcy;&ocy;&scy;&icy;&tcy;&softcy; &kcy;&ecy;&shcy;
                    //li
                        a(href='#') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &tscy;&vcy;&iecy;&tcy;&ocy;&vcy;&ucy;&yucy; &scy;&khcy;&iecy;&mcy;&ucy;
        //a.floatRight.inbox(href='#')

include login