script(type="text/ng-template", id="login.html")
    span
        a.floatRight.login(href='', ng-hide="user", ng-click="switchLogin()")
        span(ng-show="user", ng-click="switchLogin()")
            a.floatRight.logout(href='')
