doctype html 5
html(lang='ru')
    head
        title Qlanir.com
        //link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Philosopher:400,700,400italic&subset=latin,cyrillic')
        //link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        link(rel="stylesheet", type="text/css", href="css/main.css")
        link(rel="stylesheet", type="text/css", href="css/app.css")
        link(rel="stylesheet", type="text/css", href="css/toaster.css")
        //link(rel="stylesheet", type="text/css", href="css/xeditable.css")
        link(rel="stylesheet", type="text/css", href="css/ng-tags-input.css")
        link(rel="stylesheet", type="text/css", href="css/jquery.mCustomScrollbar.css")
        //link(rel="stylesheet", type="text/css", href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css")
        link(rel="stylesheet", type="text/css", href="bower_components/vis/dist/vis.css")
        link(rel="stylesheet", type="text/css", href="css/last-rule.css")


        link(rel="shortcut icon", type="image/png", href="img/favicon.png")
        //script(src="https://login.persona.org/include.js")
        script(src="libs/jquery-2.1.0.js")
        script(src="libs/jquery-ui.js")
        script(src="libs/jquery.mCustomScrollbar.concat.min.js")
        //script(src="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")

        script(src="bower_components/angular/angular.js")
        script(src="bower_components/angular-resource/angular-resource.js")
        script(src="bower_components/angular-route/angular-route.js")
        script(src="bower_components/angular-sanitize/angular-sanitize.js")
        script(src="bower_components/angular-animate/angular-animate.js")
        script(src="bower_components/AngularJS-Toaster/toaster.js")
        script(src="bower_components/angular-xeditable/dist/js/xeditable.js")
        script(src="bower_components/angular-bootstrap/ui-bootstrap.js")
        //script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
        script(src="libs/ui-bootstrap-tpls.js")

        script(src="libs/ng-tags-input.js")
        script(src="bower_components/underscore/underscore.js")
        script(src="bower_components/underscore.string/lib/underscore.string.js")
        script(src="libs/underscore.inflections.js")
        script(src="bower_components/angular-cache/dist/angular-cache.js")
        script(src="bower_components/vis/dist/vis.js")

        script(src="js/app.js")
        if ENV == 'dev' || ENV == 'debug'
            script(src='//localhost:35729/livereload.js')

        if ENV == 'test' || ENV == 'stage_test'
            link(rel="stylesheet", type="text/css", href="css/test.css")

    body
        include  share/header
        block content
        toaster-container(toaster-options="{'position-class': 'toast-top-right'}")
        include modals/_index

