select(ng-model="step")
    option(value="1") 1 Шаг
    option(value="2") 2 Шага
    option(value="3") 3 Шага
div(d3-graph, d3-graph-data="graph", d3-graph-load="loadGraph", style="width: 100%, height: 600px")
