.workspace(ng-controller="meadowController", scrollable, scrollable-items="items", scrollable-mouse-off)
    span(ng-repeat="item in items")
        ng-switch(on="item.type", ng-if="!item._isRemoved")
            span(ng-switch-when="search-results")
                include searchItem
            span(ng-switch-when="person")
                include personItem
            span(ng-switch-when="organization")
                include organizationItem
            span(ng-switch-when="offer")
                include offerItem
            span(ng-switch-when="service")
                include serviceItem
        ng-switch(ng-if="item._isRemoved")
            include removedItem
