.block(ng-show="item.subject.contacts.length")
    .heading.info Контактные данные:
        .image
        //a.plus(href="#")
    span.tt-meadow-item-group
        .section.trim-str.tt-meadow-item-child(ng-repeat="contact in item.subject.contacts", ng-class="contact.subject.contactType.id|contactCode")
            //span(editable-text="contact.tag", e-typeahead="ct as ct.label for ct in getContacts($viewValue)", e-form="contactLabelForm", onbeforesave="updateLinkTag(item, contact, $data)")
            | {{contact.subject.label|tel}}
            span(ng-show="isMailBox(contact)")
                |&nbsp- mailbox
                a.edit(ng-click="newMailBox(contact)")
            .image(ng-click="contactLabelForm.$show()")

            .operations(ng-show="!isMailBox(contact)")
                    a.close(ng-click="deleteLink(item, contact)")
.block(ng-show="item.subject.people.length")
    .heading.relations
        span Окружение:
        //a.plus(href="#")
        .image
    span.tt-meadow-item-group
        .section.person.tt-meadow-item-child(ng-repeat="person in item.subject.people", ng-class="{selected: isSelected(item, person.subject)}", ng-click="openItem(item, person.subject, $event)")
            .ellipsis
                span {{person.subject.label}}
                | -
                //a(editable-text="person.tag", e-typeahead="ct as ct.label for ct in getRoles($viewValue)", onbeforesave="updateLinkTag(item, person, $data)") {{person.tag.label|splitTag}}
                {{person.tag.label|splitTag}}
            .image
                //a.close(ng-click="deleteLink(item, person)")
            .operations
                //a.edit(href="#")
                a.close(ng-click="deleteLink(item, person)")
.block(ng-show="item.subject.organizations.length")
    .heading.organization
        span Организации:
        //a.plus(href="#")
        .image
    span.tt-meadow-item-group
        .section.organization.tt-meadow-item-child(ng-repeat="org in item.subject.organizations", ng-class="{selected: isSelected(item, org.subject)}", ng-click="openItem(item, org.subject, $event)")
            span {{org.subject.label}}
            .image
                //a.close(ng-click="deleteLink(item, org)")
            .operations
                //a.edit(href="#")
                a.close(ng-click="deleteLink(item, org)")
// .block
.block(ng-show="item.subject.offers.length")
    .heading.offer
        span Предложения:
        //a.plus(href="#")
        .image
    span.tt-meadow-item-group
        .section.offer.tt-meadow-item-child(ng-repeat="serv in item.subject.offers", ng-class="{selected: isSelected(item, serv.subject)}", ng-click="openItem(item, serv.subject, $event)")
            span {{serv.tag.label}}
            .image
                //a.close(ng-click="deleteLink(item, serv)")
            .operations
                //a.edit(href="#")
                a.close(ng-click="deleteLink(item, serv)" event-handler="remove")
// .block
.block(ng-show="item.subject.tags.length")
    //(toggle-container)
    .heading.tag
        span Метки:
        //a.plus(href="#")
        .image
    //
        span(ng-if="isToggled")
            tags-input(ng-model="item.subject.tags", display-property="label", on-tag-added="addItemTag(item, $tag)", on-tag-removed="removeItemTag(item, $tag)", add-on-comma="false")
                auto-complete(source="loadTags($query)")
            span.editable-buttons
                button(type="submit", ng-click="toggle()") close
    .section.tag.heightAuto.tt-meadow-item-group
        //(ng-if="!isToggled", ng-click="toggle()")
        span.tag.tt-meadow-item-child(ng-repeat-start="tag in item.subject.tags") {{tag.label|splitTag}}
        &nbsp;
        .image(ng-repeat-end)
        //
            .operations
                a.edit(href="#")
                a.close(href="#")
