.container.editable.tt-meadow-item
    .anchor
    a.edit.tt-unhide(ng-click="editOffer(item)")
    .heading.info-offer.tt-meadow-item-group
        .image
            a.close(ng-click="removeItem(item)")
        .pin(ng-click="pinItem(items[$index-1], item)")
        .name
            | {{item.subject.tags[0].label}}
    .block
        .section.show(ng-click="displayPaths(item)")
            | Через кого обратиться
            .image
    .block(ng-show="item.subject.label")
        .heading.info
            span Описание:
            .image
        .section.info.heightAuto.tt-meadow-item-group
            | {{item.subject.label}}

    .block(ng-show="item.subject.organizations.length", ng-repeat="org in item.subject.organizations")
        .heading.relations
            span Исполнитель:
            .image
        span.tt-meadow-item-group
            .section.organization.tt-meadow-item-child(ng-click="openItem(item, org.subject)", ng-class="{selected: isSelected(item, org.subject)}")
                {{org.subject.label}}
                .image

    .block(ng-show="item.subject.people.length", ng-repeat="person in item.subject.people")
        .heading.relations
            ng-switch(on="person.tag.id")
                span(ng-switch-when="-42")
                    Исполнитель:
                span(ng-switch-when="-43")
                    Посредник:
            .image
        span.tt-meadow-item-group
            .section.person.tt-meadow-item-child(ng-click="openItem(item, person.subject)", ng-class="{selected: isSelected(item, person.subject)}")
                {{person.subject.label}}
                .image
