.container.editable.tt-meadow-item
    .anchor
    a.edit.tt-unhide(ng-click="editOrg(item)")
    .heading.info-organization.tt-meadow-item-group
        .image
            a.close(ng-click="removeItem(item)")
        .pin(ng-click="pinItem(items[$index-1], item)")
        .name
            | {{item.subject.label}}
    .block
        .section.show(ng-click="displayPaths(item)")
            | Через кого обратиться
            .image
    include links

