.container.editable.tt-meadow-item
    .anchor
    a.edit.tt-unhide(ng-click="editPerson(item)")
    .heading.info-person.tt-meadow-item-group
        .image
            a.close(ng-click="removeItem(item)")
        .pin(ng-click="pinItem(items[$index-1], item)")
        .name
            | {{item.subject.label}}
    .block
        .section.show(ng-click="displayPaths(item)")
            | Через кого обратиться
            .image
    .block(ng-show="canBeConverted(item)")
        .section.convert(ng-click="convert(item)")
            | Преобразовать в организацию
            .image
        .section.confirm(ng-click="confirm(item)")
            | Подтвердить как персону
            .image
    .block(ng-show="item.subject.birthdate")
        .heading.info
            span Личная информация
            .image
        .section.date
            span(ng-bind="item.subject.birthdate")
            .image
    include links