.container.tt-meadow-item
    .anchor
    a.edit
    .heading(ng-class="{search_services: filter.subjectType == 'offer', search_contacts: filter.subjectType == 'person', search_organizations: filter.subjectType == 'organization'}")
        .image
        .name
            span.type {{filter.subjectType|typeName}}
            &nbsp;
            span(ng-show="item.name")
                | по запросу
                br
                | "
                span.search-request {{item.name}}
                | "
    .blockGroup.tt-meadow-item-group
        .block.tt-meadow-item-child(ng-repeat="result in item.subject.results", ng-click="openItem(item, result)", ng-class="{selected: isSelected(item, result)}")
            .heading(ng-class="result.type")
                span(ng-bind-html="result.name")
                .image
            .section.tag.heightAuto
                span.tag(ng-repeat-start="tag in result.tags") {{tag|splitTag}}
                &nbsp;
                .image(ng-repeat-end)
            .section.heightAuto(ng-repeat="hit in result.hits", ng-class="hit.type")
                span(ng-bind-html="hit.hit")
                .image

