.container.editable.tt-meadow-item(ng-class="{filtered: isContainerFiltered(item)}")
    .anchor
    .heading.info-service
        .image
        //.pin(ng-click="pinItem(item)")
        .name
            //span.type {{item.subject.label}}
            span.type Предложения
    .blockGroup.tt-meadow-item-group
        //.block(ng-show="item.subject.offers.length")
            .heading.relations
                span Исполнители:
                .image
        .block(ng-show="item.subject.offers.length", ng-repeat="offer in item.subject.offers", ng-click="openItem(item, offer.subject)", ng-class="{selected: isSelected(item, offer.subject), filter_hit: isFilterHit(item, offer)}")
            .heading.tt-meadow-item-child(ng-class="{organization: offer.hostSubject.type == 'organization', person: offer.hostSubject.type == 'person', unknown: !offer.hostSubject}")
                span(ng-show="offer.hostSubject")
                    {{offer.hostSubject.label}}
                span(ng-show="!offer.hostSubject") Исполнитель неизвестен
                .image
            .section.heightAuto.info(ng-show="offer.subject.label")
                {{offer.subject.label}}
                .image