    form.popUpWindow.addPerson
        span.heading
            .image
            a.close(href='/')
            span Добавление нового контакта
        // .heading
        .group
            label.person(for='personName')
                .image
                | Имя:
            input#personName(type='text', placeholder='Введите имя контакта', required='')
            label.date.width255(for='personDate')
                .image
                | Дата рождения:
            input#personDate.width315(type='text', placeholder='дд.мм.гггг', pattern='[0-9]{2}.[0-9]{2}.[0-9]{4}')
            label.select.width255(for='noteType')
                .image
                select#noteType.width255
                    option(selected='', value='phone') Телефон:
                    option(value='mobPhone') Мобильный телефон:
                    option(value='email') Электронная почта:
                    option(value='skype') Skype:
                    option(value='webSight') Сайт:
            input#noteValue.width255(type='text', placeholder='Введите данные')
            a.button.plus(href='#')
        // .group
        .group
            label.service(for='personService')
                .image
                | Услуга:
            input#personService.width370(type='text', placeholder='Введите имя услуги')
            a.button.plus(href='#')
            label.organization(for='personOrganization')
                .image
                | Организация:
            input#personOrganization.width370(type='text', placeholder='Введите название организации')
            a.button.plus(href='#')
        // .group
        .group
            label.tag(for='personTag')
                .image
                | Метки:
            input#personTag.width370(type='text', placeholder='Введите метки через запятую')
        // .group
        .group
            label.relation.width245
                .image
                | Контакт известен вам:
            input#personRel1(type='radio', name='personRelation')
            label.radio(for='personRel1') Напрямую
            input#personRel2(type='radio', name='personRelation')
            label.radio(for='personRel2') Через посредника
            .displayBlock
                label.person.width255(for='personPerformer')
                    .image
                    | Контакт посредника:
                input#personPerformer.width315(type='text', placeholder='Введите имя посредника')
            // .displayBlock
            .block
                label.relation
                    .image
                    | В качестве:
                label.select.relationType(for='relationFor')
                    select#relationFor.width370
                        option(selected='')  Знакомый
                        option  Одноклассник
                        option  Одногруппник
                        option  Супруг(а)
                        option  Сосед
                        option  Начальник
                        option  Подчиненный
                        option  Сотрудник
                        option  Водитель
                        option  Спортивный тренер
                label.relation
                    .image
                    | Вы в качестве:
                label.select.relationType(for='relationTo')
                    select#relationTo.width370
                        option(selected='')  Знакомый
                        option  Одноклассник
                        option  Одногруппник
                        option  Супруг(а)
                        option  Сосед
                        option  Начальник
                        option  Подчиненный
                        option  Сотрудник
                        option  Водитель
                        option  Спортивный тренер
            // .block
        // .group
        input.button(type='submit', value='Сохранить')
        input.button(type='reset', value='Очистить')
    // .popUpWindow
