form.popUpWindow.addOrganization
    span.heading
        .image
        a.close(href='/')
        span Добавление новой организации
        //
           .heading
        .group
            label.organization(for='personName')
                .image
                | Организация:
            input#personName(type='text', placeholder='Введите название организации', required='required')
            label.select.width255(for='noteType')
                .image
                select#noteType.width255
                    option(selected='selected', value='phone') Телефон:
                    option(value='mobPhone') Мобильный телефон:
                    option(value='email') Электронная почта:
                    option(value='skype') Skype:
                    option(value='webSight') Сайт:
            input#noteValue.width255(type='text', placeholder='Введите данные')
            a.button.plus(href='#')
        //
           .group
        .group
            label.service(for='organizationService')
                .image
                | Услуга:
            input#organizationService.width370(type='text', placeholder='Введите имя услуги')
            a.button.plus(href='#')
            label.person(for='organizationPerson')
                .image
                | Контакт:
            input#personOrganization.width370(type='text', placeholder='Введите имя контакта')
            a.button.plusContact(href='#')
            label.relation.width255
                | В организации в качестве:
            label.select.relationType.width315(for='relationFor')
                select#relationFor.width315
                    option(selected='selected')  Менеджер
                    option  Начальник
                    option  Подчиненный
                    option  Сотрудник
                    option  Водитель
        //
           .group
        .group
            label.tag(for='organizationTag')
                .image
                | Метки:
            input#organizationTag.width370(type='text', placeholder='Введите метки через запятую')
        //
           .group
        input.button(type='submit', value='Сохранить')
        input.button(type='reset', value='Очистить')
    //
       .popUpWindow
