form.popUpWindow.addService
    span.heading
        .image
        a.close(href='/')
        span Добавление новой услуги
        //
           .heading
        .group
            label.service(for='serviceName')
                .image
                | Услуга:
            input#serviceName(type='text', placeholder='Введите название услуги', required='required')
            .message Название услуги должно содержать в себе хотя бы один символ
        //
           .group
        .group
            label.person(for='serviceContact')
                .image
                | Контакт:
            input#serviceContact.width370(type='text', placeholder='Введите имя контакта')
            a.button.plusContact(href='#')
            .message Имя контакта должно содержать в себе хотя бы один символ
            label.relation.width255
                .image
                | Выступает в качестве:
            input#serviceRel1(type='radio', name='serviceRelation')
            label.radio(for='serviceRel1') Исполнителя
            input#serviceRel2(type='radio', name='serviceRelation')
            label.radio(for='serviceRel2') Посредника
            .displayBlock
                label.performer(for='servicePerformer')
                    .image
                    | Исполнитель:
                input#servicePerformer(type='text', placeholder='Введите имя или название организации')
            //
               .displayBlock
        //
           .group
        .group
            label.info(for='serviceInfo')
                .image
                | Описание:
            textarea#serviceInfo(placeholder='Введите описание услуги')
        //
           .group
        input.button(type='submit', value='Сохранить', disabled='disabled')
        input.button(type='reset', value='Очистить')
    //
       .popUpWindow
